</script>

<!-- Custom fonts for this template-->
<link
    href="http://portal.framas.com/sites/kaizen/SiteAssets/libraries/fontawesome-free/all.min.css"
    rel="stylesheet" type="text/css">

<!-- Page level plugin CSS-->
<link
    href="http://portal.framas.com/sites/kaizen/SiteAssets/libraries/DataTables-1.10.20/css/dataTables.bootstrap4.css"
    rel="stylesheet">

<!-- Custom styles for this template-->
<link href="http://portal.framas.com/sites/kaizen/SiteAssets/css/sb-admin.css" rel="stylesheet">

<style>
    #titlerow {
        background-color: rgba(90, 90, 90, 1);
    }

    .ms-breadcrumb-box {
        padding-top: 59px;
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .clearfix {
        display: inline-block;
    }

    * html .clearfix {
        height: 1%;
    }

    .clearfix {
        display: block;
    }

    .cursor_pointer {
        cursor: pointer;
    }

    #pageContentTitle {
        display: none;
    }

    #btn_fields {
        background-color: white;
        margin: 0px;
    }

    #btn_code {
        background-color: white;
    }

    #btn_reset {
        background-color: white;
    }

    .bank_section {
        margin-top: 20px;
    }

    .bank_section .location {
        display: none;
    }

    .bank_section .location p {
        float: left;
        width: 20%;
    }

    .bank_section .location select {
        float: left;
        width: 30%;
        background-color: white;
    }

    .bank_section .filter {
        display: none;
    }

    .bank_section .filter .line p {
        float: left;
        width: 20%;
    }

    .bank_section .filter .line input {
        float: left;
        width: 30%;
        background-color: white;
    }

    .bank_section .filter .line select {
        float: left;
        width: 30%;
        background-color: white;
    }

    .bank_section .kaizen_code {
        display: none;
    }

    .bank_section .kaizen_code .line input {
        background-color: white;
        width: 30%;
    }

    .bank_section .kaizen_submissions {
        background-color: white;
        margin-top: 20px;
        outline: 2px solid black;
    }

    .bank_section .kaizen_submissions .header {
        overflow-y: scroll;
    }

    .bank_section .kaizen_submissions .header p {
        float: left;
        font-weight: bold;
    }

    .bank_section .kaizen_submissions .header .col_01 {
        width: 20%;
    }

    .bank_section .kaizen_submissions .header .col_02 {
        width: 10%;
    }

    .bank_section .kaizen_submissions .header .col_03 {
        width: 40%;
    }

    .bank_section .kaizen_submissions .header .col_04 {
        width: 10%;
    }

    .bank_section .kaizen_submissions .header .col_05 {
        width: 10%;
    }

    .bank_section .kaizen_submissions .header .col_06 {
        width: 10%;
        text-align: center;
    }

    .bank_section .kaizen_submissions .body {
        overflow-y: scroll;
        height: 200px;
    }

    .bank_section .kaizen_submissions .body .kaizen_show {
        display: block !important;
    }

    .bank_section .kaizen_submissions .body p {
        float: left;
    }

    .bank_section .kaizen_submissions .body a {
        float: left;
        text-decoration: none;
    }

    .bank_section .kaizen_submissions .body .col_01 {
        width: 20%;
    }

    .bank_section .kaizen_submissions .body .col_02 {
        width: 10%;
    }

    .bank_section .kaizen_submissions .body .col_03 {
        width: 40%;
    }

    .bank_section .kaizen_submissions .body .col_04 {
        width: 10%;
    }

    .bank_section .kaizen_submissions .body .col_05 {
        width: 10%;
    }

    .bank_section .kaizen_submissions .body .col_06 {
        width: 10%;
        text-align: center;
    }
</style>

<style>
    #dataTable_wrapper > div:nth-child(1) > div:nth-child(1) {
        order: 1;
        text-align: right;
    }

    #dataTable_wrapper > div:nth-child(1) > div:nth-child(2) {
        order: 0;
        padding-left: 0;
    }

    #dataTable_filter {
        text-align: left;
    }
</style>

<div id="KaizenBank_DataTables">
    <!-- REMARK CHART -->
    <div class="row d-none">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-bar"></i>
                    Remark Points</div>
                <div class="card-body">
                    <canvas id="myBarChart" width="100%" height="50"></canvas>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
    </div>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Kaizen Data Table</div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="kaizen_filter" class="form">
                    <!-- FILTER ROW 1 -->
                    <div class="row">
                        <!-- LOCATIONS -->
                        <div class="col">
                            <div class="form-group">
                                <label for="locations">Locations: </label>
                                <select name="locations" id="locations" class="custom-select form-control">
                                    <option selected value="all">All Locations</option>
                                </select>
                            </div>
                        </div>

                        <!-- AREA -->
                        <div class="col">
                            <div class="form-group">
                                <label for="kaizen_area">Area:</label>
                                <select name="kaizen_area" id="kaizen_area" class="custom-select form-control">
                                    <option selected value="all">All Areas</option>
                                </select>
                            </div>
                        </div>

                        <!-- EQUIPMENT -->
                        <div class="col">
                            <div class="form-group">
                                <label for="kaizen_equipment">Equipment:</label>
                                <select name="kaizen_equipment" id="kaizen_equipment"
                                    class="custom-select form-control">
                                    <option selected value="all">All Equipment</option>
                                </select>
                            </div>
                        </div>

                        <!-- WORKPIECE -->
                        <div class="col">
                            <div class="form-group">
                                <label for="kaizen_workpiece">Workpiece:</label>
                                <select name="kaizen_workpiece" id="kaizen_workpiece"
                                    class="custom-select form-control">
                                    <option selected value="all">All Workpiece</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- FILTER ROW 2 -->
                    <div class="row">
                        <div class="col">
                            <!-- IMPLEMENTATION DEPARTMENT -->
                            <div class="form-group">
                                <label for="kaizen_implementation_departments">Implementation Department: </label>
                                <select name="kaizen_implementation_departments" id="kaizen_implementation_departments"
                                    class="custom-select form-control">
                                    <option selected value="all">All Implementation
                                        Departments
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- OUTCOME -->
                        <div class="col">
                            <div class="form-group">
                                <label for="kaizen_outcome">Outcome:</label>
                                <select name="kaizen_outcome" id="kaizen_outcome" class="custom-select form-control">
                                    <option selected value="all">All Outcome</option>
                                </select>
                            </div>
                        </div>

                        <!-- KAIZEN TYPE -->
                        <div class="col">
                            <div class="form-group">
                                <label for="city">Kaizen Type:</label>
                                <select name="kaizen_type" id="kaizen_type" class="custom-select form-control">
                                    <option selected value="all">All Type</option>
                                </select>
                            </div>
                        </div>

                        <div class="col">
                        </div>
                    </div>

                    <!-- RESET FILTER -->
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <button type="button" id="btn_kaizen_reset_filter" class="btn btn-danger">Reset
                                    Filter</button>
                            </div>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </div><br>

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th> <!-- 0 -->
                            <th>Sumitter</th> <!-- 1 -->
                            <th>Location</th> <!-- 2 -->
                            <th>Kaizen Code</th> <!-- 3 -->
                            <th>Version</th> <!-- 4 -->
                            <th>Remark</th> <!-- 5 -->
                            <th>Area</th> <!-- 6 -->
                            <th>Equipment</th> <!-- 7 -->
                            <th>Workpiece</th> <!-- 8 -->
                            <th>Implementation Department</th> <!-- 9 -->
                            <th>Outcome</th> <!-- 10 -->
                            <th>Type Kaizen</th> <!-- 11 -->
                        </tr>
                    </thead>
                    <tbody id="dataTable_body"></tbody>
                    <tfoot>
                        <tr>
                            <th>Title</th> <!-- 0 -->
                            <th>Sumitter</th> <!-- 1 -->
                            <th>Location</th> <!-- 2 -->
                            <th>Kaizen Code</th> <!-- 3 -->
                            <th>Version</th> <!-- 4 -->
                            <th>Remark</th> <!-- 5 -->
                            <th>Area</th> <!-- 6 -->
                            <th>Equipment</th> <!-- 7 -->
                            <th>Workpiece</th> <!-- 8 -->
                            <th>Implementation Department</th> <!-- 9 -->
                            <th>Outcome</th> <!-- 10 -->
                            <th>Type Kaizen</th> <!-- 11 -->
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>

<!-- <script src="http://portal.framas.com/WebpartFiles/Table_Responsive_v1/Table_Responsive_v1/js/jquery-3.3.1.min.js">
</script> -->

<!-- Bootstrap core JavaScript-->
<script src="http://portal.framas.com/sites/kaizen/SiteAssets/libraries/Jquery/jquery.min.js">
</script>
<script
    src="http://portal.framas.com/sites/kaizen/SiteAssets/libraries/Bootstrap/js/bootstrap.js">
</script>

<!-- Page level plugin JavaScript-->
<script src="http://portal.framas.com/sites/kaizen/SiteAssets/libraries/Chart/Chart.min.js">
</script>
<script
    src="http://portal.framas.com/sites/kaizen/SiteAssets/libraries/DataTables-1.10.20/js/jquery.dataTables.js">
</script>
<script
    src="http://portal.framas.com/sites/kaizen/SiteAssets/libraries/DataTables-1.10.20/js/dataTables.bootstrap4.js">
</script>

<!-- <script type="text/javascript">
    var siteUrl = "http://portal.framas.com/sites/kaizen";
    $(document).ready(function () {
        var arr_Submissions = get_Submits();
        var arr_Locations = get_Location();
        var arr_All_Users = get_All_User();

        var ogriginal_fromDate = $("#fromdate").clone();
        var ogriginal_toDate = $("#todate").clone();
        var ogriginal_type = $("#type_kaizen").clone();
        var ogriginal_outcome = $("#outcome").clone();
        var ogriginal_imple_department = $("#imple_Department").clone();
        var ogriginal_area = $("#area").clone();
        var ogriginal_equipment = $("#equipment").clone();
        var ogriginal_workpiece = $("#workpiece").clone();
        var ogriginal_code = $("#kaizen_code").clone();

        var html_submissions = new Array();
        for (let i = 0; i < arr_Submissions.length; i++) {
            var int_Location_Id = arr_Submissions[i].LocationId;
            var str_Location = new String();
            for (let j = 0; j < arr_Locations.length; j++) {
                if (int_Location_Id == arr_Locations[j].Id) {
                    str_Location = arr_Locations[j].Title;
                }
            }
            var int_Submitter_Id = arr_Submissions[i].AuthorId;
            var str_Submitter = new String();
            for (let j = 0; j < arr_All_Users.length; j++) {
                if (int_Submitter_Id == arr_All_Users[j].Id) {
                    str_Submitter = arr_All_Users[j].Title;
                }
            }
            html_submissions.push("<div class='clearfix submit_line' kaizen_date='" + arr_Submissions[i]
                .kaizen_Year +
                "-" + arr_Submissions[i].kaizen_Month + "' kaizen_type='" + arr_Submissions[i]
                .kaizen_TypeId + "' kaizen_outcome='" + arr_Submissions[i].kaizen_OutcomeId +
                "' kaizen_imple_departmen='" + arr_Submissions[i].kaizen_Imple_DepartmentId +
                "' kaizen_area='" + arr_Submissions[i].kaizen_AreaId + "' kaizen_equipment='" +
                arr_Submissions[i].kaizen_Machine_x002f_Equipment_xId + "' kaizen_workpiece='" +
                arr_Submissions[i].kaizen_Part_x002f_Workpiece_x002Id + "' kaizen_code='" +
                arr_Submissions[
                    i].kaizen_Code + "'>");
            html_submissions.push(
                "<a class='col_01' href='http://portal.framas.com/sites/kaizen/SitePages/ShowDetailSubmission.aspx?$id=" +
                arr_Submissions[i].ID + "'>" + arr_Submissions[i].Title + "</a>");
            html_submissions.push("<p class='col_02'>" + arr_Submissions[i].kaizen_Month + "/" +
                arr_Submissions[i].kaizen_Year + "</p>");
            html_submissions.push("<p class='col_03'>" + arr_Submissions[i].kaizen_Code + "</p>");
            html_submissions.push("<p class='col_04'>" + str_Location + "</p>");
            html_submissions.push("<p class='col_05'>" + str_Submitter + "</p>");
            html_submissions.push("<p class='col_06'>" + arr_Submissions[i].kaizen_Version + "</p>");
            html_submissions.push("</div>");
        }
        $(".bank_section .kaizen_submissions .body").append(html_submissions.join(''));

        $("#btn_fields").click(function () {
            $(".bank_section .location").show();
            $(".bank_section .kaizen_code").hide();
            load_select_field(arr_Locations, "kaizen_location");
        });
        $("#btn_code").click(function () {
            $(".bank_section .location").hide();
            $(".bank_section .filter").hide();
            $(".bank_section .kaizen_code").show();
            $(".bank_section .kaizen_submissions .body .submit_line").show();
            $("#kaizen_code").replaceWith(ogriginal_code.clone());

            $(".bank_section .kaizen_submissions .body").empty();
            var html_submissions = new Array();
            for (let i = 0; i < arr_Submissions.length; i++) {
                var int_Location_Id = arr_Submissions[i].LocationId;
                var str_Location = new String();
                for (let j = 0; j < arr_Locations.length; j++) {
                    if (int_Location_Id == arr_Locations[j].Id) {
                        str_Location = arr_Locations[j].Title;
                    }
                }
                var int_Submitter_Id = arr_Submissions[i].AuthorId;
                var str_Submitter = new String();
                for (let j = 0; j < arr_All_Users.length; j++) {
                    if (int_Submitter_Id == arr_All_Users[j].Id) {
                        str_Submitter = arr_All_Users[j].Title;
                    }
                }
                html_submissions.push("<div class='clearfix submit_line' kaizen_date='" +
                    arr_Submissions[i]
                    .kaizen_Year +
                    "-" + arr_Submissions[i].kaizen_Month + "' kaizen_type='" +
                    arr_Submissions[i]
                    .kaizen_TypeId + "' kaizen_outcome='" + arr_Submissions[i]
                    .kaizen_OutcomeId +
                    "' kaizen_imple_departmen='" + arr_Submissions[i]
                    .kaizen_Imple_DepartmentId +
                    "' kaizen_area='" + arr_Submissions[i].kaizen_AreaId +
                    "' kaizen_equipment='" +
                    arr_Submissions[i].kaizen_Machine_x002f_Equipment_xId +
                    "' kaizen_workpiece='" +
                    arr_Submissions[i].kaizen_Part_x002f_Workpiece_x002Id +
                    "' kaizen_code='" +
                    arr_Submissions[
                        i].kaizen_Code + "'>");
                html_submissions.push(
                    "<a class='col_01' href='http://portal.framas.com/sites/kaizen/SitePages/ShowDetailSubmission.aspx?$id=" +
                    arr_Submissions[i].ID + "'>" + arr_Submissions[i].Title + "</a>");
                html_submissions.push("<p class='col_02'>" + arr_Submissions[i].kaizen_Month +
                    "/" +
                    arr_Submissions[i].kaizen_Year + "</p>");
                html_submissions.push("<p class='col_03'>" + arr_Submissions[i].kaizen_Code +
                    "</p>");
                html_submissions.push("<p class='col_04'>" + str_Location + "</p>");
                html_submissions.push("<p class='col_05'>" + str_Submitter + "</p>");
                html_submissions.push("<p class='col_06'>" + arr_Submissions[i].kaizen_Version +
                    "</p>");
                html_submissions.push("</div>");
            }
            $(".bank_section .kaizen_submissions .body").append(html_submissions.join(''));

            $(".bank_section .kaizen_code .line input").keyup(function () {
                check_Kaizen_Code($(this)[0].value);
            });
        });

        $("#btn_reset").click(function () {
            $("#fromdate").replaceWith(ogriginal_fromDate.clone());
            $("#todate").replaceWith(ogriginal_toDate.clone());
            $("#type_kaizen").replaceWith(ogriginal_type.clone());
            $("#outcome").replaceWith(ogriginal_outcome.clone());
            $("#imple_Department").replaceWith(ogriginal_imple_department.clone());
            $("#area").replaceWith(ogriginal_area.clone());
            $("#equipment").replaceWith(ogriginal_equipment.clone());
            $("#workpiece").replaceWith(ogriginal_workpiece.clone());
            $("#kaizen_code").replaceWith(ogriginal_code.clone());
        });

        $("#kaizen_location").change(function () {
            $(".bank_section .filter").show();
            $(".bank_section .kaizen_code").hide();
            $(".bank_section .kaizen_submissions .body .submit_line").show();
            var int_locationId = $(this)[0].value;

            var arr_Types = get_List_Fields("List_Type_Kaizen", int_locationId);
            var arr_Outcomes = get_List_Fields("List_Outcome", int_locationId);
            var arr_Imple_Departments = get_List_Fields("List_Implementation_Department",
                int_locationId);
            var arr_Areas = get_List_Fields("List_Area", int_locationId);
            var arr_Equipments = get_List_Fields("List_Equipment", int_locationId);
            var arr_workpieces = get_List_Fields("List_Workpiece", int_locationId);

            load_select_field(arr_Types, "type_kaizen");
            load_select_field(arr_Outcomes, "outcome");
            load_select_field(arr_Imple_Departments, "imple_Department");
            load_select_field(arr_Areas, "area");
            load_select_field(arr_Equipments, "equipment");
            load_select_field(arr_workpieces, "workpiece");

            $(".bank_section .kaizen_submissions .body").empty();
            var html_submissions = new Array();
            for (let i = 0; i < arr_Submissions.length; i++) {
                var int_Submit_Location_Id = arr_Submissions[i].LocationId;
                if (int_locationId == int_Submit_Location_Id) {
                    var str_Location = new String();
                    for (let j = 0; j < arr_Locations.length; j++) {
                        if (int_Submit_Location_Id == arr_Locations[j].Id) {
                            str_Location = arr_Locations[j].Title;
                        }
                    }
                    var int_Submitter_Id = arr_Submissions[i].AuthorId;
                    var str_Submitter = new String();
                    for (let j = 0; j < arr_All_Users.length; j++) {
                        if (int_Submitter_Id == arr_All_Users[j].Id) {
                            str_Submitter = arr_All_Users[j].Title;
                        }
                    }
                    html_submissions.push("<div class='clearfix submit_line' kaizen_date='" +
                        arr_Submissions[i]
                        .kaizen_Year +
                        "-" + arr_Submissions[i].kaizen_Month + "' kaizen_type='" +
                        arr_Submissions[
                            i]
                        .kaizen_TypeId + "' kaizen_outcome='" + arr_Submissions[i]
                        .kaizen_OutcomeId +
                        "' kaizen_imple_departmen='" + arr_Submissions[i]
                        .kaizen_Imple_DepartmentId +
                        "' kaizen_area='" + arr_Submissions[i].kaizen_AreaId +
                        "' kaizen_equipment='" +
                        arr_Submissions[i].kaizen_Machine_x002f_Equipment_xId +
                        "' kaizen_workpiece='" +
                        arr_Submissions[i].kaizen_Part_x002f_Workpiece_x002Id +
                        "' kaizen_code='" +
                        arr_Submissions[
                            i].kaizen_Code + "'>");
                    html_submissions.push(
                        "<a class='col_01' href='http://portal.framas.com/sites/kaizen/SitePages/ShowDetailSubmission.aspx?$id=" +
                        arr_Submissions[i].ID + "'>" + arr_Submissions[i].Title + "</a>");
                    html_submissions.push("<p class='col_02'>" + arr_Submissions[i]
                        .kaizen_Month + "/" +
                        arr_Submissions[i].kaizen_Year + "</p>");
                    html_submissions.push("<p class='col_03'>" + arr_Submissions[i]
                        .kaizen_Code +
                        "</p>");
                    html_submissions.push("<p class='col_04'>" + str_Location + "</p>");
                    html_submissions.push("<p class='col_05'>" + str_Submitter + "</p>");
                    html_submissions.push("<p class='col_06'>" + arr_Submissions[i]
                        .kaizen_Version +
                        "</p>");
                    html_submissions.push("</div>");
                }
            }
            $(".bank_section .kaizen_submissions .body").append(html_submissions.join(''));

            $(".bank_section .filter input,.bank_section .filter select,.bank_section .filter input,.bank_section .filter input")
                .change(function () {
                    filter_Kaizen();
                });
        });
    });

    function filter_Kaizen() {
        var str_fromDate_value = $("#fromdate")[0].value;
        var str_toDate_value = $("#todate")[0].value;
        var date_fromDate = new Date(str_fromDate_value);
        var date_toDate = new Date(str_toDate_value);
        var int_type_value = $("#type_kaizen")[0].value;
        var int_outcome_value = $("#outcome")[0].value;
        var int_imple_department_value = $("#imple_Department")[0].value;
        var int_area_value = $("#area")[0].value;
        var int_equipment_value = $("#equipment")[0].value;
        var int_workpiece_value = $("#workpiece")[0].value;

        var bool_filter_fromDate = false;
        if (str_fromDate_value != "") {
            bool_filter_fromDate = true;
        }
        var bool_filter_toDate = false;
        if (str_toDate_value != "") {
            bool_filter_toDate = true;
        }
        var bool_filter_type = false;
        if (int_type_value != "") {
            bool_filter_type = true;
        }
        var bool_filter_outCome = false;
        if (int_outcome_value != "") {
            bool_filter_outCome = true;
        }
        var bool_filter_impleDepartment = false;
        if (int_imple_department_value != "") {
            bool_filter_impleDepartment = true;
        }
        var bool_filter_area = false;
        if (int_area_value != "") {
            bool_filter_area = true;
        }
        var bool_filter_equipment = false;
        if (int_equipment_value != "") {
            bool_filter_equipment = true;
        }
        var bool_filter_workpiece = false;
        if (int_workpiece_value != "") {
            bool_filter_workpiece = true;
        }
        $(".bank_section .kaizen_submissions .body .submit_line").each(function () {
            var date_kaizenDate = new Date($(this).attr("kaizen_date"));
            var int_type = $(this).attr("kaizen_type");
            var int_outcome = $(this).attr("kaizen_outcome");
            var int_imple_department = $(this).attr("kaizen_imple_departmen");
            var int_area = $(this).attr("kaizen_area");
            var int_equipment = $(this).attr("kaizen_equipment");
            var int_workpiece = $(this).attr("kaizen_workpiece");
            if (date_fromDate <= date_kaizenDate && date_kaizenDate <= date_toDate && int_type_value ==
                int_type && int_outcome_value == int_outcome && int_imple_department_value ==
                int_imple_department && int_area_value == int_area && int_equipment_value ==
                int_equipment &&
                int_workpiece_value == int_workpiece) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    function check_Kaizen_Code(str_kaizenCode) {
        if (str_kaizenCode != "") {
            $(".bank_section .kaizen_submissions .body .submit_line").each(function () {
                var str_kaizenCode_value = $(this).attr("kaizen_code");
                if (str_kaizenCode == str_kaizenCode_value) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        } else {
            $(".bank_section .kaizen_submissions .body .submit_line").show();
        }
    }

    function load_select_field(arr_Fiels, str_Field_Id) {
        $("#" + str_Field_Id + " .add_value").remove();
        var html = new Array();
        for (let i = 0; i < arr_Fiels.length; i++) {
            html.push("<option class='add_value' value='" + arr_Fiels[i].Id + "'>" + arr_Fiels[i].Title +
                "</option>");
        }
        $("#" + str_Field_Id).append(html.join(''));
    }

    function get_Submits() {
        var arr_total_result = [];
        $.ajax({
            url: siteUrl +
                "/_api/web/lists/getbytitle('List_Submit')/items?$top=1000&$filter=Status eq 'Approved'",
            type: "GET",
            async: false,
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                var items = data.d.results;
                arr_total_result = items;
            },
            error: function (error) {
                console.log(JSON.stringify(error));
            }
        });
        return arr_total_result;
    }

    function get_All_User() {
        var arr_total_result = [];
        $.ajax({
            url: siteUrl + "/_api/web/SiteUsers",
            type: "GET",
            async: false,
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                var items = data.d.results;
                arr_total_result = items;
            },
            error: function (error) {
                console.log(JSON.stringify(error));
            }
        });
        return arr_total_result;
    }

    function get_Location() {
        var arr_total_result = [];
        $.ajax({
            url: siteUrl +
                "/_api/web/lists/getbytitle('List_Location')/items?$top=1000&$select=Id,Title",
            type: "GET",
            async: false,
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                var items = data.d.results;
                arr_total_result = items;
            },
            error: function (error) {
                console.log(JSON.stringify(error));
            }
        });
        return arr_total_result;
    }

    function get_List_Fields(str_List_Name, int_LocationId) {
        var arr_total_result = [];
        $.ajax({
            url: siteUrl + "/_api/web/lists/getbytitle('" + str_List_Name +
                "')/items?$top=1000&$select=Id,Title,Location/Id&$expand=Location&$filter=Location/Id eq " +
                int_LocationId,
            type: "GET",
            async: false,
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                var items = data.d.results;
                arr_total_result = items;
            },
            error: function (error) {
                console.log(JSON.stringify(error));
            }
        });
        return arr_total_result;
    }
</script> -->

<!-- <script src="/js/js_request_JSON_list.js"></script> -->
<script src="http://portal.framas.com/sites/kaizen/SiteAssets/js/Kaizen_Bank/js_call_Framas_API.js"></script>
<script src="http://portal.framas.com/sites/kaizen/SiteAssets/js/Kaizen_Bank/js_parse_fields_data.js"></script>
<script src="http://portal.framas.com/sites/kaizen/SiteAssets/js/Kaizen_Bank/js_dataTable_filter.js"></script>
<script src="http://portal.framas.com/sites/kaizen/SiteAssets/js/Kaizen_Bank/js_remark_chart.js"></script>
<script src="http://portal.framas.com/sites/kaizen/SiteAssets/js/Kaizen_Bank/js_Kaizen_Bank_main.js"></script>