<style>
    .button_group {
        margin-top: 20px;
    }

    .button_group input[type='button'] {
        width: 10rem;
        background-color: white;
        font-weight: bold;
    }

    .button_group #btn_save {
        float: right;
    }

    .required_field {
        border: 2px solid red !important;
    }

    .cursor_load {
        cursor: progress;
    }
</style>

<div class="row">
    <div class="col-6">
        <input type="button" value="Save" id="btn_save">
    </div>
    <div class="col-6">
        <input type="button" value="Cancel" id="btn_cancel">
    </div>
</div>

<script>
    $("#btn_save").click(function () {
        var str_iso = new String();
        var str_Title = new String();
        var int_Location_Id = 0;
        var str_Kaizen_Code = new String();
        var int_Version = 0;
        var int_Outcome_Id = 0;
        var int_Type_Id = 0;
        var int_Imple_Department_Id = 0;
        var int_Area_Id = 0;
        var int_Equipment_Id = 0;
        var int_Workpiece_Id = 0;
        var str_Supervisor_Email = new String();
        var arr_Team_Email = new Array();
        var arr_CC_Email = new Array();
        var str_Condition = new String();
        var str_Solution = new String();
        var str_Other_Outcome = new String();
        var str_Cost_Saving = new String();
        var str_Other_Imple_Department = new String();
        var str_Other_Area = new String();
        var str_Other_Equipment = new String();
        var str_Other_Workpiece = new String();
        var str_Unit = new String();
        var str_Submitter_Comment = new String();

        /*$(".top_header_section .iso .iso_radio").each(function () {
            if ($(this)[0].checked) {
                str_iso = $(this)[0].value;
            }
        });*/
        str_Title = $("#kaizen_title").val();
        int_Location_Id = parseInt($("#kaizen_location").attr("location_id"));
        int_Outcome_Id = $("#kaizen_outCome").val();
        int_Type_Id = $("#kaizen_type").val();
        int_Imple_Department_Id = $("#kaizen_impleDepartment").val();
        int_Area_Id = $("#kaizen_area").val();
        int_Equipment_Id = $("#kaizen_equipment").val();
        int_Workpiece_Id = $("#kaizen_workpiece").val();
        str_Kaizen_Code = $("#kaizen_code").text();
        int_Version = parseInt($("#kaizen_version").text());
        str_Supervisor_Email = $("#supervisor_email").text();
        arr_Team_Email = arr_Selected_Team_Email;
        arr_CC_Email = arr_Selected_CC_Email;
        str_Condition = $("#condition").val();
        str_Solution = $("#solution").val();
        str_Other_Outcome = $("#kaizen_outCome_other").val();
        str_Cost_Saving = $("#kaizen_type_other").val();
        str_Other_Imple_Department = $("#kaizen_impleDepartment_other").val();
        str_Other_Area = $("#kaizen_area_other").val();
        str_Other_Equipment = $("#kaizen_equipment_other").val();
        str_Other_Workpiece = $("#kaizen_workpiece_other").val();
        str_Unit = $("#kaizen_unit").val();
        str_Submitter_Comment = $("#submitter_comment").val();

        var is_Save_Submit = check_Selected_Field();

        if (is_Save_Submit) {
            $("#btn_save").attr("disabled", true);
            $("#btn_cancel").attr("disabled", true);
            $("body").addClass("cursor_load");
            save_Submit(str_iso, str_Title, int_Location_Id, int_Outcome_Id, str_Other_Outcome, str_Kaizen_Code,
                int_Version, int_Type_Id, str_Cost_Saving, int_Imple_Department_Id,
                str_Other_Imple_Department, int_Area_Id, str_Other_Area, int_Equipment_Id,
                str_Other_Equipment, int_Workpiece_Id, str_Other_Workpiece, str_Supervisor_Email,
                arr_Team_Email, arr_CC_Email, str_Condition, str_Solution, str_Unit, str_Other_Outcome,
                str_Submitter_Comment);
        }
    });

    $("#btn_cancel").click(function () {
        window.location.href = url_site;
    });

    function check_Selected_Field() {
        //array of all element id need to check requirement
        var arr_Element_Id = ["kaizen_title", "kaizen_outCome", "kaizen_type", "kaizen_impleDepartment", "kaizen_area",
            "kaizen_equipment", "kaizen_workpiece", "kaizen_type_other", "kaizen_outCome_other",
            "kaizen_impleDepartment_other", "kaizen_area_other", "kaizen_equipment_other", "kaizen_workpiece_other",
            "tbl_Team", "file_image_before", "file_image_after", "file_attachment"
        ];
        for (let a = 0; a < arr_Element_Id.length; a++) {
            //remove all class required field
            $("#" + arr_Element_Id[a]).removeClass("required_field");
        }

        var bool_Is_Checked = true;

        //check is title required
        if ($("#kaizen_title").val() == null || $("#kaizen_title").val() == "") {
            $("#kaizen_title").addClass("required_field");
            bool_Is_Checked = false;
        }
        //check is outcome required
        if ($("#kaizen_outCome").attr("value_name") != null && $("#kaizen_outCome").attr("value_name") != "") {
            if ($("#kaizen_outCome").attr("value_name") == "Other") {
                if ($("#kaizen_outCome_other").val() == null || $("#kaizen_outCome_other").val() == "") {
                    $("#kaizen_outCome_other").addClass("required_field");
                    bool_Is_Checked = false;
                }
            }
        } else {
            $("#kaizen_outCome").addClass("required_field");
            bool_Is_Checked = false;
        }
        //check is type of kaizen required
        if ($("#kaizen_type").attr("value_name") != null && $("#kaizen_type").attr("value_name") != "") {
            if ($("#kaizen_type").attr("value_name") == "Cost Saving" || $("#kaizen_type").attr("value_name") ==
                "Labor Hour Saving" || $("#kaizen_type").attr("value_name") == "Machine Hour Saving" || $(
                    "#kaizen_type").attr("value_name") == "Space Saving" || $("#kaizen_type").attr("value_name") ==
                "Quality Improvement") {
                if ($("#kaizen_type_other").val() == null || $("#kaizen_type_other").val() == "") {
                    $("#kaizen_type_other").addClass("required_field");
                    bool_Is_Checked = false;
                }
            }
        } else {
            $("#kaizen_type").addClass("required_field");
            bool_Is_Checked = false;
        }
        //check is implementation department required
        if ($("#kaizen_impleDepartment").attr("value_name") != null && $("#kaizen_impleDepartment").attr(
            "value_name") != "") {
            if ($("#kaizen_impleDepartment").attr("value_name") == "Other") {
                if ($("#kaizen_impleDepartment_other").val() == null || $("#kaizen_impleDepartment_other").val() ==
                    "") {
                    $("#kaizen_impleDepartment_other").addClass("required_field");
                    bool_Is_Checked = false;
                }
            }
        } else {
            $("#kaizen_impleDepartment").addClass("required_field");
            bool_Is_Checked = false;
        }
        //check is area required
        if ($("#kaizen_area").attr("value_name") != null && $("#kaizen_area").attr("value_name") != "") {
            if ($("#kaizen_area").attr("value_name") == "Other") {
                if ($("#kaizen_area_other").val() == null || $("#kaizen_area_other").val() == "") {
                    $("#kaizen_area_other").addClass("required_field");
                    bool_Is_Checked = false;
                }
            }
        } else {
            $("#kaizen_area").addClass("required_field");
            bool_Is_Checked = false;
        }
        //check is equipment required
        if ($("#kaizen_equipment").attr("value_name") != null && $("#kaizen_equipment").attr("value_name") != "") {
            if ($("#kaizen_equipment").attr("value_name") == "Other") {
                if ($("#kaizen_equipment_other").val() == null || $("#kaizen_equipment_other").val() == "") {
                    $("#kaizen_equipment_other").addClass("required_field");
                    bool_Is_Checked = false;
                }
            }
        } else {
            $("#kaizen_equipment").addClass("required_field");
            bool_Is_Checked = false;
        }
        //check is workpiece required
        if ($("#kaizen_workpiece").attr("value_name") != null && $("#kaizen_workpiece").attr("value_name") != "") {
            if ($("#kaizen_workpiece").attr("value_name") == "Other") {
                if ($("#kaizen_workpiece_other").val() == null || $("#kaizen_workpiece_other").val() == "") {
                    $("#kaizen_workpiece_other").addClass("required_field");
                    bool_Is_Checked = false;
                }
            }
        } else {
            $("#kaizen_workpiece").addClass("required_field");
            bool_Is_Checked = false;
        }
        //check is Team required
        var arr_Team_Email = new Array();
        $("#tbl_Team tbody tr input[type='checkbox']").each(function () {
            if ($(this)[0].checked) {
                arr_Team_Email.push($(this)[0].value);
            }
        });
        if (arr_Team_Email.length == 0) {
            $("#tbl_Team").addClass("required_field");
            bool_Is_Checked = false;
        }
        //check is Image Before required
        if ($('#file_image_before')[0].files.length == 0) {
            $('#file_image_before').addClass("required_field");
            bool_Is_Checked = false;
        }
        //check is Image After required
        if ($('#file_image_after')[0].files.length == 0) {
            $('#file_image_after').addClass("required_field");
            bool_Is_Checked = false;
        }
        return bool_Is_Checked;
    }

    function save_Submit(str_iso, str_title, int_locationId, int_outComeId, str_Other_Outcome, str_code, str_version,
        int_typeId, str_costSaving, int_impleDepartmentId, str_otherImpleDepartment, int_areaId, str_otherArea,
        int_equipmentId, str_otherEquipment, int_workpieceId, str_otherWorkpiece, str_supervisor_email, arr_teamEmail,
        arrccEmail, str_condition, str_solution, str_unit_value, str_otherOutcome, str_Submitter_Comment) {
        var clientContext = new SP.ClientContext(url_site);
        var oList = clientContext.get_web().get_lists().getByTitle(str_listName_kaizenSubmit);
        var itemCreateInfo = new SP.ListItemCreationInformation();
        this.oListItem = oList.addItem(itemCreateInfo);

        var lookup_Location = new SP.FieldLookupValue();
        lookup_Location.set_lookupId(parseInt(int_locationId));
        var lookup_Outcome = new SP.FieldLookupValue();
        lookup_Outcome.set_lookupId(parseInt(int_outComeId));
        var lookup_Type = new SP.FieldLookupValue();
        lookup_Type.set_lookupId(parseInt(int_typeId));
        var lookup_Imple_Department = new SP.FieldLookupValue();
        lookup_Imple_Department.set_lookupId(parseInt(int_impleDepartmentId));
        var lookup_Area = new SP.FieldLookupValue();
        lookup_Area.set_lookupId(parseInt(int_areaId));
        var lookup_Equipment = new SP.FieldLookupValue();
        lookup_Equipment.set_lookupId(parseInt(int_equipmentId));
        var lookup_Workpiece = new SP.FieldLookupValue();
        lookup_Workpiece.set_lookupId(parseInt(int_workpieceId));
        var lookup_Team = new Array();
        for (var i = 0; i < arr_teamEmail.length; i++) {
            lookup_Team.push(SP.FieldUserValue.fromUser(arr_teamEmail[i]));
        }
        var lookup_Supervisor = new Array();
        lookup_Supervisor.push(SP.FieldUserValue.fromUser(str_supervisor_email));
        var lookup_CC = new Array();
        for (var i = 0; i < arrccEmail.length; i++) {
            lookup_CC.push(SP.FieldUserValue.fromUser(arrccEmail[i]));
        }

        oListItem.set_item('kaizen_iso', "both");
        oListItem.set_item('Title', str_title);
        oListItem.set_item('kaizen_location', lookup_Location);
        oListItem.set_item('kaizen_outCome', lookup_Outcome);
        oListItem.set_item('kaizen_code', str_code);
        oListItem.set_item('kaizen_version', parseInt(str_version));
        oListItem.set_item('kaizen_type', lookup_Type);
        oListItem.set_item('kaizen_costSaving', str_costSaving);
        oListItem.set_item('kaizen_ImpleDepartment', lookup_Imple_Department);
        oListItem.set_item('other_impleDepartment', str_otherImpleDepartment);
        oListItem.set_item('kaizen_are', lookup_Area);
        oListItem.set_item('other_area', str_otherArea);
        oListItem.set_item('kaizen_equipment', lookup_Equipment);
        oListItem.set_item('other_equipment', str_otherEquipment);
        oListItem.set_item('kaizen_workpiece', lookup_Workpiece);
        oListItem.set_item('other_workpiece', str_otherWorkpiece);
        oListItem.set_item('kaizen_team', lookup_Team);
        oListItem.set_item('kaizen_cc', lookup_CC);
        oListItem.set_item('kaizen_supervisor', lookup_Supervisor);
        oListItem.set_item('kaizen_condition', str_condition);
        oListItem.set_item('kaizen_solution', str_solution);
        oListItem.set_item('kaizen_unit', str_unit_value);
        oListItem.set_item('other_outcome', str_otherOutcome);
        oListItem.set_item('kaizen_submitter_comment', str_Submitter_Comment);
        oListItem.update();
        clientContext.load(oListItem);
        clientContext.executeQueryAsync(function () {
            console.log('Submit created: ' + oListItem.get_id());
            upload_Image_Before(oListItem.get_id());
        }, function (sender, args) {
            console.log('Request failed. ' + args.get_message() + '\n' + args.get_stackTrace());
        });
    }

    function upload_Image_Before(str_Kaizen_Id) {
        // Define the folder path for this example.
        var serverRelativeUrlToFolder = str_listName_image;

        // Get test values from the file input and text input page controls.
        var fileInput = $('#file_image_before');
        var fileCount = fileInput[0].files.length;
        // Get the server URL.
        var serverUrl = _spPageContextInfo.webAbsoluteUrl;
        var filesUploaded = 0;
        var arr_attachmentId = new Array();
        for (var i = 0; i < fileCount; i++) {
            // Initiate method calls using $ promises.
            // Get the local file as an array buffer.
            var getFile = getFileBuffer(i);
            getFile.done(function (arrayBuffer, i) {

                // Add the file to the SharePoint folder.
                var addFile = addFileToFolder(str_Kaizen_Id, arrayBuffer, i);
                addFile.done(function (file, status, xhr) {
                    var int_fileListId = file.d.ListItemAllFields.ID;
                    arr_attachmentId.push(int_fileListId);
                    filesUploaded++;
                    if (fileCount == filesUploaded) {
                        filesUploaded = 0;
                        update_Image_Infor(arr_attachmentId, str_Kaizen_Id);
                    }
                });
                addFile.fail(onError);
            });
            getFile.fail(onError);
        }

        // Get the local file as an array buffer.
        function getFileBuffer(i) {
            var deferred = $.Deferred();
            var reader = new FileReader();
            reader.onloadend = function (e) {
                deferred.resolve(e.target.result, i);
            }
            reader.onerror = function (e) {
                deferred.reject(e.target.error);
            }
            reader.readAsArrayBuffer(fileInput[0].files[i]);
            return deferred.promise();
        }

        // Add the file to the file collection in the Shared Documents folder.
        function addFileToFolder(str_Kaizen_Id, arrayBuffer, i) {
            var index = i;

            // Get the file name from the file input control on the page.
            var fileName = str_Kaizen_Id + "_" + fileInput[0].files[index].name;

            // Construct the endpoint.
            var fileCollectionEndpoint = String.format(
                "{0}/_api/web/getfolderbyserverrelativeurl('{1}')/files/add(overwrite=true, url='{2}')?$expand=ListItemAllFields",
                serverUrl, serverRelativeUrlToFolder, fileName);

            // Send the request and return the response.
            // This call returns the SharePoint file.
            return $.ajax({
                url: fileCollectionEndpoint,
                type: "POST",
                data: arrayBuffer,
                processData: false,
                headers: {
                    "accept": "application/json;odata=verbose",
                    "X-RequestDigest": $("#__REQUESTDIGEST").val()
                }
            });
        }

        // Display error messages. 
        function onError(error) {
            console.log(error.responseText);
        }

        function update_Image_Infor(arr_attachmentId, str_kaizenId) {
            var clientContext = new SP.ClientContext(url_site);
            var oList = clientContext.get_web().get_lists().getByTitle(str_listName_image);
            for (let i = 0; i < arr_attachmentId.length; i++) {
                this.oListItem = oList.getItemById(parseInt(arr_attachmentId[i]));
                oListItem.set_item('Kaizen_Id', str_kaizenId);
                oListItem.set_item('Before_After', "Before");
                oListItem.update();
            }
            clientContext.executeQueryAsync(function () {
                upload_Image_After(str_kaizenId);
            }, function (sender, args) {
                console.log("update_Image_Infor Before " + args.get_stackTrace());
            });
        }
    }

    function upload_Image_After(str_Kaizen_Id) {
        // Define the folder path for this example.
        var serverRelativeUrlToFolder = str_listName_image;

        // Get test values from the file input and text input page controls.
        var fileInput = $('#file_image_after');
        var fileCount = fileInput[0].files.length;
        // Get the server URL.
        var serverUrl = _spPageContextInfo.webAbsoluteUrl;
        var filesUploaded = 0;
        var arr_attachmentId = new Array();
        for (var i = 0; i < fileCount; i++) {
            // Initiate method calls using $ promises.
            // Get the local file as an array buffer.
            var getFile = getFileBuffer(i);
            getFile.done(function (arrayBuffer, i) {

                // Add the file to the SharePoint folder.
                var addFile = addFileToFolder(str_Kaizen_Id, arrayBuffer, i);
                addFile.done(function (file, status, xhr) {
                    var int_fileListId = file.d.ListItemAllFields.ID;
                    arr_attachmentId.push(int_fileListId);
                    filesUploaded++;
                    if (fileCount == filesUploaded) {
                        filesUploaded = 0;
                        update_Image_Infor(arr_attachmentId, str_Kaizen_Id);
                    }
                });
                addFile.fail(onError);
            });
            getFile.fail(onError);
        }

        // Get the local file as an array buffer.
        function getFileBuffer(i) {
            var deferred = $.Deferred();
            var reader = new FileReader();
            reader.onloadend = function (e) {
                deferred.resolve(e.target.result, i);
            }
            reader.onerror = function (e) {
                deferred.reject(e.target.error);
            }
            reader.readAsArrayBuffer(fileInput[0].files[i]);
            return deferred.promise();
        }

        // Add the file to the file collection in the Shared Documents folder.
        function addFileToFolder(str_Kaizen_Id, arrayBuffer, i) {
            var index = i;

            // Get the file name from the file input control on the page.
            var fileName = str_Kaizen_Id + "_" + fileInput[0].files[index].name;

            // Construct the endpoint.
            var fileCollectionEndpoint = String.format(
                "{0}/_api/web/getfolderbyserverrelativeurl('{1}')/files/add(overwrite=true, url='{2}')?$expand=ListItemAllFields",
                serverUrl, serverRelativeUrlToFolder, fileName);

            // Send the request and return the response.
            // This call returns the SharePoint file.
            return $.ajax({
                url: fileCollectionEndpoint,
                type: "POST",
                data: arrayBuffer,
                processData: false,
                headers: {
                    "accept": "application/json;odata=verbose",
                    "X-RequestDigest": $("#__REQUESTDIGEST").val()
                }
            });
        }

        // Display error messages. 
        function onError(error) {
            console.log(error.responseText);
        }

        function update_Image_Infor(arr_attachmentId, str_kaizenId) {
            var clientContext = new SP.ClientContext(url_site);
            var oList = clientContext.get_web().get_lists().getByTitle(str_listName_image);
            for (let i = 0; i < arr_attachmentId.length; i++) {
                this.oListItem = oList.getItemById(parseInt(arr_attachmentId[i]));
                oListItem.set_item('Kaizen_Id', str_kaizenId);
                oListItem.set_item('Before_After', "After");
                oListItem.update();
            }
            clientContext.executeQueryAsync(function () {
                uploadAttachments(str_kaizenId);
            }, function (sender, args) {
                console.log("update_Image_Infor After " + args.get_stackTrace());
            });
        }
    }

    function uploadAttachments(str_Kaizen_Id) {
        // Define the folder path for this example.
        var serverRelativeUrlToFolder = str_listName_attachment;

        // Get test values from the file input and text input page controls.
        var fileInput = $('#file_attachment');
        var fileCount = fileInput[0].files.length;
        if (fileCount > 0) {
            // Get the server URL.
            var serverUrl = _spPageContextInfo.webAbsoluteUrl;
            var filesUploaded = 0;
            var arr_attachmentId = new Array();
            for (var i = 0; i < fileCount; i++) {
                // Initiate method calls using $ promises.
                // Get the local file as an array buffer.
                var getFile = getFileBuffer(i);
                getFile.done(function (arrayBuffer, i) {

                    // Add the file to the SharePoint folder.
                    var addFile = addFileToFolder(str_Kaizen_Id, arrayBuffer, i);
                    addFile.done(function (file, status, xhr) {
                        var int_fileListId = file.d.ListItemAllFields.ID;
                        arr_attachmentId.push(int_fileListId);
                        filesUploaded++;
                        if (fileCount == filesUploaded) {
                            filesUploaded = 0;
                            update_attachmentKaizenId(arr_attachmentId, str_Kaizen_Id);
                        }
                    });
                    addFile.fail(onError);
                });
                getFile.fail(onError);
            }

            // Get the local file as an array buffer.
            function getFileBuffer(i) {
                var deferred = $.Deferred();
                var reader = new FileReader();
                reader.onloadend = function (e) {
                    deferred.resolve(e.target.result, i);
                }
                reader.onerror = function (e) {
                    deferred.reject(e.target.error);
                }
                reader.readAsArrayBuffer(fileInput[0].files[i]);
                return deferred.promise();
            }

            // Add the file to the file collection in the Shared Documents folder.
            function addFileToFolder(str_Kaizen_Id, arrayBuffer, i) {
                var index = i;

                // Get the file name from the file input control on the page.
                var fileName = str_Kaizen_Id + "_" + fileInput[0].files[index].name;

                // Construct the endpoint.
                var fileCollectionEndpoint = String.format(
                    "{0}/_api/web/getfolderbyserverrelativeurl('{1}')/files/add(overwrite=true, url='{2}')?$expand=ListItemAllFields",
                    serverUrl, serverRelativeUrlToFolder, fileName);

                // Send the request and return the response.
                // This call returns the SharePoint file.
                return $.ajax({
                    url: fileCollectionEndpoint,
                    type: "POST",
                    data: arrayBuffer,
                    processData: false,
                    headers: {
                        "accept": "application/json;odata=verbose",
                        "X-RequestDigest": $("#__REQUESTDIGEST").val()
                    }
                });
            }

            // Display error messages. 
            function onError(error) {
                console.log(error.responseText);
            }

            function update_attachmentKaizenId(arr_attachmentId, str_kaizenId) {
                var clientContext = new SP.ClientContext(url_site);
                var oList = clientContext.get_web().get_lists().getByTitle(str_listName_attachment);
                for (let i = 0; i < arr_attachmentId.length; i++) {
                    this.oListItem = oList.getItemById(parseInt(arr_attachmentId[i]));
                    oListItem.set_item('Kaizen_Id', str_kaizenId);
                    oListItem.update();
                }
                clientContext.executeQueryAsync(function () {
                    window.location.href = url_site;
                }, function (sender, args) {
                    console.log("update_attachmentKaizenId " + args.get_stackTrace());
                });
            }
        }else{
            window.location.href = url_site;
        }
    }
</script>