<style>
    .image_attachment>.row {
        border: 2px solid black;
        border-top: none;
    }

    .image_attachment p {
        margin: 0;
        padding: 0;
    }

    .image_attachment .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .image_attachment>.row>div {
        border-right: 2px solid black;
    }

    .image_attachment>.row>div:last-child {
        border-right: none;
    }

    .image_attachment .image_select {
        width: 100%;
        border-bottom: 2px solid black;
    }

    .image_attachment .image_preview {
        height: 450px;
        overflow-y: scroll;
    }

    .image_attachment .image_preview img {
        width: 100%;
    }

    .image_attachment .image_preview #preview_image_before_rotaion {
        position: absolute;
        z-index: 2;
        background-color: white;
    }

    .image_attachment .image_preview #preview_image_after_rotaion {
        position: absolute;
        z-index: 2;
        background-color: white;
    }

    .image_attachment .attachment_select {
        width: 100%;
    }

    .image_attachment .attacment_preview {
        height: 100px;
        overflow-y: scroll;
    }

    .condition_solution {
        width: 100%;
        height: 200px;
        resize: none;
        background-color: white;
        overflow-y: scroll;
    }
</style>

<div class="row">
    <div class="col-6">
        <div class="row text-center">
            <p class="title">Initial Condition (What was the problem?)</p>
        </div>
        <div class="row">
            <textarea id="condition" class="condition_solution" value=""></textarea>
        </div>
    </div>
    <div class="col-6">
        <div class="row text-center">
            <p class="title">Solution Description (What was implemented, changed or improved?)</p>
        </div>
        <div class="row">
            <textarea id="solution" class="condition_solution" value=""></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row text-center">
            <p class="title">Before</p>
        </div>
        <div class="row">
            <input type="file" class="image_select" id="file_image_before" accept="image/x-png,image/gif,image/jpeg">
        </div>
        <div class="row image_preview" id="preview_image_before">

        </div>
    </div>
    <div class="col-6">
        <div class="row text-center">
            <p class="title">After</p>
        </div>
        <div class="row">
            <input type="file" class="image_select" id="file_image_after" accept="image/x-png,image/gif,image/jpeg">
        </div>
        <div class="row image_preview" id="preview_image_after">

        </div>
    </div>
</div>
<div class="row">
    <p class="title">Attachment (Multiple Select)</p>
</div>
<div class="row">
    <input type="file" class="attachment_select" id="file_attachment" multiple>
</div>
<div class="row attacment_preview">

</div>

<script>
    var int_rotate_before = 0;
    var int_rotate_after = 0;
    //function when select image before
    $("#file_image_before").change(function () {
        //if have file
        if (this.files && this.files[0]) {
            //read file by FileReader
            var reader = new FileReader();
            reader.onload = function (e) {
                //clear all element first
                $("#preview_image_before").empty();
                //draw image element
                var html = new Array();
                html.push("<input type='button' value='Rotation' id='preview_image_before_rotaion'>");
                html.push("<img id='image_before' src='" + e.target.result + "'>");
                $("#preview_image_before").append(html.join(''));
                //set event on rotate button
                $("#preview_image_before_rotaion").click(function () {
                    int_rotate_before += 90;
                    $("#image_before").css({
                        "-webkit-transform": "rotate(" + int_rotate_before + "deg)",
                        "-moz-transform": "rotate(" + int_rotate_before + "deg)",
                        "transform": "rotate(" + int_rotate_before + "deg)" /* For modern browsers(CSS3)  */
                    });
                });
            }
            reader.readAsDataURL(this.files[0]);
        }
    });

    //function when select image after
    $("#file_image_after").change(function () {
        //if have file
        if (this.files && this.files[0]) {
            //read file by FileReader
            var reader = new FileReader();
            reader.onload = function (e) {
                //clear all element first
                $("#preview_image_after").empty();
                //draw image element
                var html = new Array();
                html.push("<input type='button' value='Rotation' id='preview_image_after_rotaion'>");
                html.push("<img id='image_after' src='" + e.target.result + "'>");
                $("#preview_image_after").append(html.join(''));
                //set event on rotate button
                $("#preview_image_after_rotaion").click(function () {
                    int_rotate_after += 90;
                    $("#image_after").css({
                        "-webkit-transform": "rotate(" + int_rotate_after + "deg)",
                        "-moz-transform": "rotate(" + int_rotate_after + "deg)",
                        "transform": "rotate(" + int_rotate_after + "deg)" /* For modern browsers(CSS3)  */
                    });
                });
            }
            reader.readAsDataURL(this.files[0]);
        }
    });

    $("#file_attachment").change(function () {
        $(".image_attachment .attacment_preview").empty();
        var fileInput = document.getElementById("file_attachment").files;
        if (fileInput.length > 0) {
            var html = new Array();
            for (let a = 0; a < fileInput.length; a++) {
                var str_Name = fileInput[a].name;
                html.push("<div class='col-12'>");
                html.push("<p>" + str_Name + "</p>");
                html.push("</div>");
            }
            $(".image_attachment .attacment_preview").append(html.join(''));
        }
    });
</script>