<style>
    .input_field_section>.row {
        border: 2px solid black;
        border-top: none;
    }

    .input_field_section p {
        margin: 0;
        padding: 0;
    }

    .input_field_section .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .input_field_section .field {
        width: 100%;
        text-align: center;
        height: 26px;
        border-right: 2px solid black;
        background-color: lightyellow;
    }

    .input_field_section p.field {
        background-color: white;
    }

    .input_field_section .row>div:last-child .field {
        border-right: none;
    }

    .input_field_section .other_field {
        height: 26px;
        border-right: 2px solid black;
    }

    .input_field_section .other_field input,
    .input_field_section .other_field select {
        display: none;
    }

    .input_field_section .row>div:last-child .other_field {
        border-right: none;
    }

    #kaizen_type_other {
        float: left;
        width: 50%;
    }

    #kaizen_unit {
        float: left;
        width: 50%;
    }
</style>

<div class="input_field_section">
    <div class="row">
        <div class="col-4">
            <div class="row text-center">
                <p class="title">Title/Subject</p>
            </div>
            <div class="row">
                <input type="text" class="field" id="kaizen_title">
            </div>
        </div>
        <div class="col-4">
            <div class="row text-center">
                <p class="title">Location</p>
            </div>
            <div class="row">
                <p class="field" id="kaizen_location" location_id="">location</p>
            </div>
        </div>
        <div class="col-4">
            <div class="row text-center">
                <p class="title">Time</p>
            </div>
            <div class="row">
                <p class="field" id="kaizen_date">date</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="row text-center">
                <p class="title">Kaizen Code</p>
            </div>
            <div class="row">
                <p class="field" id="kaizen_code">kaizen code</p>
            </div>
        </div>
        <div class="col-2">
            <div class="row text-center">
                <p class="title">Version</p>
            </div>
            <div class="row">
                <p class="field" id="kaizen_version">version</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="row text-center">
                <p class="title">Outcome</p>
            </div>
            <div class="row">
                <select class="field" id="kaizen_outCome" value_name="">
                    <option value="">Please Select Outcome</option>
                </select>
            </div>
            <div class="row other_field">
                <input type="text" class="field" id="kaizen_outCome_other" placeholder="Other Outcome">
            </div>
        </div>
        <div class="col-4">
            <div class="row text-center">
                <p class="title">Type of Kaizen</p>
            </div>
            <div class="row">
                <select class="field" id="kaizen_type" value_name="">
                    <option value="">Please Select Type Of Kaizen</option>
                </select>
            </div>
            <div class="row other_field">
                <input type="number" class="field" id="kaizen_type_other" placeholder="Cost/Hour/Square Meters Saving">
                <select class="field" id="kaizen_unit">
                    <option value="USD">USD/Year</option>
                    <option value="Hour">Hour/Year</option>
                    <option value="Square Meters">Square Meters</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="row text-center">
                <p class="title">Implementation Department</p>
            </div>
            <div class="row">
                <select class="field" id="kaizen_impleDepartment" value_name="">
                    <option value="">Please Select Implementation Department</option>
                </select>
            </div>
            <div class="row other_field">
                <input type="text" class="field" id="kaizen_impleDepartment_other"
                    placeholder="Other Implementation Department">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="row text-center">
                <p class="title">Area</p>
            </div>
            <div class="row">
                <select class="field" id="kaizen_area" value_name="">
                    <option value="">Please Select Area</option>
                </select>
            </div>
            <div class="row other_field">
                <input type="text" class="field" id="kaizen_area_other" placeholder="Other Area">
            </div>
        </div>
        <div class="col-4">
            <div class="row text-center">
                <p class="title">Machine/Equipment/Tools</p>
            </div>
            <div class="row">
                <select class="field" id="kaizen_equipment" value_name="">
                    <option value="">Please Select Machine/Equipment/Tool</option>
                </select>
            </div>
            <div class="row other_field">
                <input type="text" class="field" id="kaizen_equipment_other" placeholder="Other Machine/Equipment/Tool">
            </div>
        </div>
        <div class="col-4">
            <div class="row text-center">
                <p class="title">Part/Workpiece/Process</p>
            </div>
            <div class="row">
                <select class="field" id="kaizen_workpiece" value_name="">
                    <option value="">Please Select Part/Workpiece/Process</option>
                </select>
            </div>
            <div class="row other_field">
                <input type="text" class="field" id="kaizen_workpiece_other" placeholder="Other Part/Workpiece/Process">
            </div>
        </div>
    </div>
</div>

<script>
    //set variables
    var str_Type = new String();
    var str_Imple_Department = new String();
    var str_Area = new String();
    var str_Equipment = new String();
    var str_Workpiece = new String();
    var int_Version = 1;

    //get user location
    var str_Current_User_Location = new String();
    var int_Location_Id = 0;
    for (let a = 0; a < arr_All_Contact.length; a++) {
        if (str_Current_User_Account == arr_All_Contact[a].Email) {
            str_Current_User_Location = arr_All_Contact[a].Location;
            for (let b = 0; b < arr_Location.length; b++) {
                if (str_Current_User_Location == arr_Location[b].Title) {
                    int_Location_Id = arr_Location[b].Id;
                }
            }
        }
    }
    $("#kaizen_location").text(str_Current_User_Location);
    $("#kaizen_location").attr("location_id", int_Location_Id);

    //get current date
    var date_Current_Date = new Date();
    var int_Current_Month = date_Current_Date.getMonth() + 1;
    var int_Current_Year = date_Current_Date.getFullYear();
    var current_date_time = date_Current_Date.getDate() + "/" + (date_Current_Date.getMonth() + 1) + "/" + date_Current_Date.getFullYear() + " " + date_Current_Date.getHours() + ":" + date_Current_Date.getMinutes();
    $("#kaizen_date").text(current_date_time);

    //load select option------------------------------------------------------------
    //load outcome
    var html_Ourcome = new Array();
    for (let a = 0; a < arr_Outcome.length; a++) {
        html_Ourcome.push("<option value='" + arr_Outcome[a].Id + "'>" + arr_Outcome[a].Title + "</option>");
    }
    $("#kaizen_outCome").append(html_Ourcome.join(''));
    //load type of kaizen
    var html_Type = new Array();
    for (let a = 0; a < arr_Type.length; a++) {
        html_Type.push("<option value='" + arr_Type[a].Id + "'>" + arr_Type[a].Title + "</option>");
    }
    $("#kaizen_type").append(html_Type.join(''));
    //load implementation department
    var html_Imple_Deparment = new Array();
    for (let a = 0; a < arr_Imple_Department.length; a++) {
        html_Imple_Deparment.push("<option value='" + arr_Imple_Department[a].Id + "'>" + arr_Imple_Department[a].Title + "</option>");
    }
    $("#kaizen_impleDepartment").append(html_Imple_Deparment.join(''));
    //load area
    var html_Area = new Array();
    for (let a = 0; a < arr_Area.length; a++) {
        html_Area.push("<option value='" + arr_Area[a].Id + "'>" + arr_Area[a].Title + "</option>");
    }
    $("#kaizen_area").append(html_Area.join(''));
    //load equipment
    var html_Equipment = new Array();
    for (let a = 0; a < arr_Equipment.length; a++) {
        html_Equipment.push("<option value='" + arr_Equipment[a].Id + "'>" + arr_Equipment[a].Title + "</option>");
    }
    $("#kaizen_equipment").append(html_Equipment.join(''));
    //load workpiece
    var html_Workpiece = new Array();
    for (let a = 0; a < arr_Workpiece.length; a++) {
        html_Workpiece.push("<option value='" + arr_Workpiece[a].Id + "'>" + arr_Workpiece[a].Title + "</option>");
    }
    $("#kaizen_workpiece").append(html_Workpiece.join(''));
    //-------------------------------------------------------------------------------

    //set event when select field ---------------------------------------------------
    check_Is_Select_Other("kaizen_outCome", arr_Outcome, ["Other"], "kaizen_outCome_other");
    check_Is_Select_Other("kaizen_type", arr_Type, ["Cost Saving", "Labor Hour Saving", "Machine Hour Saving", "Space Saving", "Quality Improvement"], "kaizen_type_other");
    check_Is_Select_Other("kaizen_impleDepartment", arr_Imple_Department, ["Other"], "kaizen_impleDepartment_other");
    check_Is_Select_Other("kaizen_area", arr_Area, ["Other"], "kaizen_area_other");
    check_Is_Select_Other("kaizen_equipment", arr_Equipment, ["Other"], "kaizen_equipment_other");
    check_Is_Select_Other("kaizen_workpiece", arr_Workpiece, ["Other"], "kaizen_workpiece_other");
    //-------------------------------------------------------------------------------

    //function-----------------------------------------------------------------------
    function check_Is_Select_Other(str_Select_Id, arr_List, arr_Other_Cost_Hour_Saving, str_Other_Input_Id) {
        $("#" + str_Select_Id).change(function () {
            var int_value_Id = $(this)[0].value;
            var str_value_Name = new String();
            for (let a = 0; a < arr_List.length; a++) {
                if (int_value_Id == arr_List[a].Id) {
                    str_value_Name = arr_List[a].Title;
                }
            }
            $("#" + str_Select_Id).attr("value_name", str_value_Name);
            //check is select kaizen type for show cost/hour/square meters saving
            if (str_Select_Id != "kaizen_type") {
                if (arr_Other_Cost_Hour_Saving.includes(str_value_Name)) {
                    $("#" + str_Other_Input_Id).show();
                }
                else {
                    $("#" + str_Other_Input_Id).hide();
                    $("#" + str_Other_Input_Id).val("");
                }
            } else {
                if (arr_Other_Cost_Hour_Saving.includes(str_value_Name)) {
                    $("#" + str_Other_Input_Id).show();
                    $("#kaizen_unit").show();
                    if (str_value_Name == "Labor Hour Saving" || str_value_Name == "Machine Hour Saving") {
                        $("#kaizen_unit").val("Hour");
                    } else if (str_value_Name == "Space Saving") {
                        $("#kaizen_unit").val("Square Meters");
                    } else {
                        $("#kaizen_unit").val("USD");
                    }
                }
                else {
                    $("#" + str_Other_Input_Id).hide();
                    $("#" + str_Other_Input_Id).val("");
                    $("#kaizen_unit").hide();
                }
            }

            if (str_Select_Id == "kaizen_type") {
                str_Type = $("#kaizen_type").attr("value_name");
            } else if (str_Select_Id == "kaizen_impleDepartment") {
                str_Imple_Department = $("#kaizen_impleDepartment").attr("value_name");
            } else if (str_Select_Id == "kaizen_area") {
                str_Area = $("#kaizen_area").attr("value_name");
            } else if (str_Select_Id == "kaizen_equipment") {
                str_Equipment = $("#kaizen_equipment").attr("value_name");
            } else if (str_Select_Id == "kaizen_workpiece") {
                str_Workpiece = $("#kaizen_workpiece").attr("value_name");
            }
            check_Kaizen_Version();
            load_Kaizen_Code_Version(str_Type, str_Imple_Department, str_Area, str_Equipment, str_Workpiece, int_Version);
        });
    }

    $("#kaizen_impleDepartment_other").keyup(function () {
        str_Imple_Department = $(this)[0].value;
        load_Kaizen_Code_Version(str_Type, str_Imple_Department, str_Area, str_Equipment, str_Workpiece, int_Version);
    });
    $("#kaizen_area_other").keyup(function () {
        str_Area = $(this)[0].value;
        load_Kaizen_Code_Version(str_Type, str_Imple_Department, str_Area, str_Equipment, str_Workpiece, int_Version);
    });
    $("#kaizen_equipment_other").keyup(function () {
        str_Equipment = $(this)[0].value;
        load_Kaizen_Code_Version(str_Type, str_Imple_Department, str_Area, str_Equipment, str_Workpiece, int_Version);
    });
    $("#kaizen_workpiece_other").keyup(function () {
        str_Workpiece = $(this)[0].value;
        load_Kaizen_Code_Version(str_Type, str_Imple_Department, str_Area, str_Equipment, str_Workpiece, int_Version);
    });

    function check_Kaizen_Version() {
        var str_Type_value = $("#kaizen_type").val();
        var str_Imple_Department_value = $("#kaizen_impleDepartment").val();
        var str_Area_value = $("#kaizen_area").val();
        var str_Equipment_value = $("#kaizen_equipment").val();
        var str_Workpiece_value = $("#kaizen_workpiece").val();
        for (let a = 0; a < arr_Submissions.length; a++) {
            if (str_Type_value == arr_Submissions[a].kaizen_typeId && str_Imple_Department_value == arr_Submissions[a].kaizen_ImpleDepartmentId && str_Area_value == arr_Submissions[a].kaizen_areId && str_Equipment_value == arr_Submissions[a].kaizen_equipmentId && str_Workpiece_value == arr_Submissions[a].kaizen_workpieceId) {
                int_Version++;
            }
        }
        load_Kaizen_Code_Version(str_Type, str_Imple_Department, str_Area, str_Equipment, str_Workpiece, int_Version);
    }

    function load_Kaizen_Code_Version(str_Type, str_Imple_Department, str_Area, str_Equipment, str_Workpiece, int_Version) {
        var str_Result = str_Type + "-" + str_Imple_Department + "-" + str_Area + "-" + str_Equipment + "-" + str_Workpiece + "-" + int_Version;
        $("#kaizen_code").text(str_Result);
        $("#kaizen_version").text(int_Version);
    }

    //-------------------------------------------------------------------------------
</script>