<style>
    .button_group {
        padding-top: 20px;
    }

    .button_group #btn_save {
        background-color: white;
        font-weight: bold;
        width: 100%;
    }

    .button_group #btn_back {
        background-color: white;
        font-weight: bold;
        width: 100%;
    }
</style>

<div class="row text-center">
    <div class="row col-md-4 offset-md-4">
        <div class="col-6">
            <input type="button" value="Save" id="btn_save">
        </div>
        <div class="col-6">
            <input type="button" value="Back" id="btn_back">
        </div>
    </div>
</div>

<script>
    var int_Approval_Id = 0;
    for (let a = 0; a < arr_Approvals.length; a++) {
        if (arr_Approvals[a].ApproverId == userId && arr_Approvals[a].Team_x002f_Committer == "Team") {
            int_Approval_Id = arr_Approvals[a].Id;
        }
    }
    //set save button event
    $("#btn_save").click(function () {
        var str_Team_Approval = new String();
        $(".approval_task .approval_radio").each(function () {
            if ($(this)[0].checked) {
                str_Team_Approval = $(this)[0].value;
            }
        });
        var str_Reason = new String();
        $(".approval_task .reason_content .reason_check").each(function () {
            if ($(this)[0].checked) {
                str_Reason += "+ " + $(this)[0].value + "\n";
            }
        });
        var str_Team_Comment = new String();
        if ($(".approval_task .comment_content textarea").val() != null && $(".approval_task .comment_content textarea").val() != "") {
            str_Team_Comment = str_Reason + "+ " + $(".approval_task .comment_content textarea").val();
        } else {
            str_Team_Comment = str_Reason;
        }
        var arr_Update_Data = [{
            "Field": "Approval",
            "Value": str_Team_Approval
        }, {
            "Field": "Comment",
            "Value": str_Team_Comment
        }];
        update_List_Item(url_site, str_listName_kaizenApproval, int_Approval_Id, arr_Update_Data, true);
    });

    //set back button event
    $("#btn_back").click(function () {
        window.location.href = url_site;
    });
</script>