<style>
    .button_group {
        padding-top: 20px;
    }

    .button_group #btn_save {
        background-color: white;
        font-weight: bold;
        width: 100%;
    }

    .button_group #btn_back {
        background-color: white;
        font-weight: bold;
        width: 100%;
    }
</style>

<div class="row text-center">
    <div class="row col-md-4 offset-md-4">
        <div class="col-6">
            <input type="button" value="Save" id="btn_save">
        </div>
        <div class="col-6">
            <input type="button" value="Back" id="btn_back">
        </div>
    </div>
</div>

<script>
    //set save button event
    $("#btn_save").click(function () {
        //check: lean add commiter
        var bool_Is_Add_Committer = false;
        $(".lean_task .task_radio").each(function () {
            if ($(this)[0].checked && $(this)[0].value == "Add_Committer") {
                bool_Is_Add_Committer = true;
            }
        });

        if (bool_Is_Add_Committer) {//if lean add committer
            var arr_Committers = arr_Selected_Committer_Email;
            if (arr_Committers.length > 0) {
                update_Committer(url_site, str_listName_kaizenSubmit, parseInt(int_Kaizen_Id), arr_Committers);
            }
        } else {//if lean make conclusion approval
            var str_Conclusion_Approval = new String();
            $(".lean_task .approval_radio").each(function () {
                if ($(this)[0].checked) {
                    str_Conclusion_Approval = $(this)[0].value;
                }
            });
            var str_Reason = new String();
            $(".lean_task .reason_content .reason_line input[type='checkbox']").each(function () {
                if ($(this)[0].checked) {
                    str_Reason += "+ " + $(this)[0].value + "\n";
                }
            });
            var str_Lean_Comment = new String();
            if ($(".lean_task .comment_content textarea").val() != null && $(".approval_task .comment_content textarea").val() != "") {
                str_Lean_Comment = str_Reason + "+ " + $(".lean_task .comment_content textarea").val();
            } else {
                str_Lean_Comment = str_Reason;
            }

            //get remark
            var int_remark = 0;
            $(".lean_task .remark_content input[type='radio']").each(function () {
                if ($(this)[0].checked) {
                    int_remark = parseInt($(this)[0].value);
                }
            });

            var arr_Update_Data = [{
                "Field": "kaizen_conclusionStatus",
                "Value": str_Conclusion_Approval
            }, {
                "Field": "kaizen_status",
                "Value": str_Conclusion_Approval
            }, {
                "Field": "kaizen_conclusionComment",
                "Value": str_Lean_Comment
            }, {
                "Field": "Remark",
                "Value": int_remark
            }];

            update_List_Item(url_site, str_listName_kaizenSubmit, parseInt(int_Kaizen_Id), arr_Update_Data, true);
        }
    });

    //set back button event
    $("#btn_back").click(function () {
        window.location.href = url_site;
    });

    function update_Committer(str_Site_Url, str_List_Name, int_Item_Id, arr_Committer) {
        var clientContext = new SP.ClientContext(str_Site_Url);
        var oList = clientContext.get_web().get_lists().getByTitle(str_List_Name);
        this.oListItem = oList.getItemById(int_Item_Id);

        var lookup_Committer = new Array();
        for (var i = 0; i < arr_Committer.length; i++) {
            lookup_Committer.push(SP.FieldUserValue.fromUser(arr_Committer[i]));
        }
        oListItem.set_item("kaizen_departmentCommitter", lookup_Committer);

        oListItem.update();
        clientContext.executeQueryAsync(function () {
            console.log(str_List_Name + "update success.");
            window.location.href = str_Site_Url;
        }, function (sender, args) {
            console.log(str_List_Name + "update fail. " + args.get_message() + '\n' + args.get_stackTrace());
        });
    }
</script>