<style>
    .lean_task>.row {
        border: 2px solid black;
        border-top: none;
    }

    .lean_task p {
        margin: 0;
        padding: 0;
    }

    .lean_task .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .lean_task .step_title {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        color: black;
    }

    .lean_task .pull_left {
        float: left;
    }

    .lean_task #tbl_committers_wrapper {
        width: 100%;
    }

    .lean_task #tbl_committers_wrapper .dataTables_scrollBody {
        border-bottom: none !important;
    }

    .lean_task .conclusion_approval_task {
        display: none;
    }

    .lean_task .reason_title {
        display: none;
    }

    .lean_task .reason_content {
        display: none;
        height: 120px;
        overflow-y: scroll;
    }

    .lean_task .reason_content .reason_line {
        width: 100%;
        border-right: none;
    }

    .lean_task .comment_content textarea {
        width: 100%;
        height: 100px;
        background-color: white;
        resize: none;
    }

    .lean_task .remark_content {
        display: none;
    }

    .lean_task .remark_content .remark_point {
        font-weight: bold;
    }

    .lean_task .remark_content textarea {
        width: 100%;
        height: 250px;
        background-color: white;
        resize: none;
        border: none;
        padding-top: 10px;
    }

    .lean_task .selected_add_committer_wrapper {
        height: 80px;
        overflow-y: scroll;
    }

    .lean_task .remark_desciption>div {
        border: 1px solid black;
        width: 100%;
        padding: 0 6px;
    }

    .lean_task .remark_desciption .remark_part {
        height: 180px;
    }

    .lean_task .remark_desciption .remark_part.border_left_none {
        border-left: none;
    }

    .lean_task .remark_desciption .remark_part.border_right_none {
        border-right: none;
    }

    .lean_task .remark_desciption .remark_part.border_botton_none {
        border-bottom: none;
    }
</style>

<div class="row">
    <p class="title">Lean Task</p>
</div>
<div class="row">
    <p class="step_title">Task</p>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="row">
            <div class="col-2 text-right">
                <input type="radio" value="Add_Committer" class="task_radio" name="task_radio">
            </div>
            <div class="col-4">
                <p>Add Committer</p>
            </div>
            <div class="col-2 text-right">
                <input type="radio" value="Conclusion_Approval" class="task_radio" name="task_radio">
            </div>
            <div class="col-4">
                <p>Conclusion Approval</p>
            </div>
        </div>
    </div>
</div>
<div class="row text-center add_committer_task">
    <p class="step_title">Add Committer</p>
</div>
<div class="row add_committer_task">
    <table id="tbl_committers">
        <thead>
            <tr>
                <th></th>
                <th>Committer Name</th>
                <th>Email</th>
                <th>Location</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="row selected_add_committer_wrapper add_committer_task">
    <p id="selected_add_committer"></p>
</div>
<div class="row text-center conclusion_approval_task">
    <p class="step_title">Conclusion Approval</p>
</div>
<div class="row conclusion_approval_task">
    <div>
        <div class="col-md-4 offset-md-4">
            <div class="row">
                <div class="col-2 text-right">
                    <input type="radio" value="Approved" class="approval_radio" name="approval_radio" checked>
                </div>
                <div class="col-4">
                    <p>Approved</p>
                </div>
                <div class="col-2 text-right">
                    <input type="radio" value="Rejected" class="approval_radio" name="approval_radio">
                </div>
                <div class="col-4">
                    <p>Rejected</p>
                </div>
            </div>
        </div>
    </div>
    <div class="reason_title">
        <p class="step_title">Reason</p>
    </div>
    <div class="reason_content">

    </div>
    <div>
        <p class="step_title">Comment</p>
    </div>
    <div class="comment_content">
        <textarea></textarea>
    </div>
</div>
<div class="row text-center remark_content">
    <p class="step_title">Remark</p>
</div>
<div class="row remark_content">
    <div class="col-3">
        <div class="row">
            <div class="col-5 text-right">
                <input type="radio" name="remark_radio" value="5">
            </div>
            <div class="col-7">
                <p class="remark_point">5</p>
            </div>
        </div>
        <div class="row remark_desciption">
            <div class="remark_part border_left_none">
                <p>- Small idea (5S kaizen).</p>
                <p>- Not a big impact.</p>
                <p>- Limitter range of improvement.</p>
            </div>
            <div class="remark_part border_left_none border_botton_none">
                <p>&lt 25% of the original frequently happended</p>
                <p>Limitted range of improvement at items or processes</p>
                <p>&lt 200 USD</p>
                <p>&lt 200 HOUR</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-5 text-right">
                <input type="radio" name="remark_radio" value="10">
            </div>
            <div class="col-7">
                <p class="remark_point">10</p>
            </div>
        </div>
        <div class="row remark_desciption">
            <div class="remark_part">
                <p>Small idea, cross department and easy to apply.</p>
            </div>
            <div class="remark_part border_botton_none">
                <p>25% &lt Original &lt 50%</p>
                <p>Fairly significant, related to another items or processes</p>
                <p>200 USD &lt $ &lt 500 USD</p>
                <p>200 HOUR &lt SAVING &lt 500 HOUR</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-5 text-right">
                <input type="radio" name="remark_radio" value="20">
            </div>
            <div class="col-7">
                <p class="remark_point">20</p>
            </div>
        </div>
        <div class="row remark_desciption">
            <div class="remark_part">
                <p>- Medium impact (1 small area, layout changing).</p>
                <p>- Better operation, saving operator's movement or effort (Could not calculate benefit by Labour or MC
                    Hour Saving)</p>
            </div>
            <div class="remark_part border_botton_none">
                <p>50% &lt Original &lt 100%</p>
                <p>Fairly significant, related to another items or processes</p>
                <p>500 USD &lt $ &lt 1000 USD</p>
                <p>500 HOUR &lt SAVING &lt 1000 HOUR</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-5 text-right">
                <input type="radio" name="remark_radio" value="50">
            </div>
            <div class="col-7">
                <p class="remark_point">50</p>
            </div>
        </div>
        <div class="row remark_desciption">
            <div class="remark_part border_right_none">
                <p>- Big impact (Big layout changing).</p>
                <p>- Better operation, saving operator's movement or effort (Could not calculate benefit by Labour or MC
                    Hour Saving)</p>
            </div>
            <div class="remark_part border_right_none border_botton_none">
                <p>Problem are completely solved</p>
                <p>Has wide range of applicability, can be a standard</p>
                <p>> 1000 USD</p>
                <p>> 1000 HOUR</p>
            </div>
        </div>
    </div>
</div>

<script>
    //set variables
    var arr_Selected_Committer_Name = new Array();
    var arr_Selected_Committer_Email = new Array();
    var arr_Type_Id_Not_Remark = [4, 6, 8, 14];

    //set event when click on task radio
    $(".lean_task .task_radio").change(function () {
        if ($(this)[0].value == "Add_Committer") {
            $(".lean_task .add_committer_task").show();
            $(".lean_task .conclusion_approval_task").hide();
            $(".lean_task .remark_content").hide();
            $(".lean_task .remark_content input[type='radio']").attr("checked", false);
        } else {
            $(".lean_task .add_committer_task").hide();
            $(".lean_task .conclusion_approval_task").show();
            $(".lean_task #tbl_committers input[type='checkbox']").attr("Checked", false);
            $(".lean_task .remark_content").css("display", "flex");
            arr_Selected_Committer_Name = new Array();
            arr_Selected_Committer_Email = new Array();
            $(".lean_task #selected_add_committer").text("");
        }
        if (arr_Type_Id_Not_Remark.includes(arr_Submit.kaizen_typeId)) {
            $(".lean_task .remark_content").hide();
        }
    });

    if (arr_Type_Id_Not_Remark.includes(arr_Submit.kaizen_typeId)) {
        $(".lean_task .remark_content").hide();
    }

    //draw table committer users
    var html_committer = new Array();
    for (let a = 0; a < arr_All_Contact.length; a++) {
        var str_Committer_Email = new String();
        if (arr_All_Contact[a].Email != null) {
            str_Committer_Email = arr_All_Contact[a].Email + "@framas.com";
        }
        var str_Committer_Location = new String();
        if (arr_All_Contact[a].Position != null) {
            str_Committer_Location = arr_All_Contact[a].Position;
        }
        html_committer.push("<tr>");
        html_committer.push("<td><input type='checkbox' user_name='" + arr_All_Contact[a].Title + "' value='" + str_Committer_Email + "'></td>");
        html_committer.push("<td>" + arr_All_Contact[a].Title + "</td>");
        html_committer.push("<td>" + str_Committer_Email + "</td>");
        html_committer.push("<td>" + arr_All_Contact[a].Location + "</td>");
        html_committer.push("<td>" + str_Committer_Location + "</td>");
        html_committer.push("</tr>");
    }
    $(".lean_task #tbl_committers tbody").append(html_committer.join(""));
    $("#tbl_committers").DataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
        "paging": false,
        "info": false
    });
    $("#tbl_committers_filter").addClass("pull_left");
    $(".lean_task .add_committer_task").css("display", "none");

    //set event for add committer check
    $(".lean_task #tbl_committers input[type='checkbox']").change(function () {
        if ($(this)[0].checked) {
            arr_Selected_Committer_Name.push($(this).attr("user_name"));
            arr_Selected_Committer_Email.push($(this)[0].value);
        } else {
            arr_Selected_Committer_Name.splice(arr_Selected_Committer_Name.indexOf($(this).attr("user_name")), 1);
            arr_Selected_Committer_Email.splice(arr_Selected_Committer_Email.indexOf($(this)[0].value), 1);
        }
        arr_Selected_Committer_Name.sort();
        arr_Selected_Committer_Email.sort();
        var str_Selected_Committer = new String();
        for (let a = 0; a < arr_Selected_Committer_Name.length; a++) {
            if (str_Selected_Committer == "") {
                str_Selected_Committer = arr_Selected_Committer_Name[a];
            } else {
                str_Selected_Committer += "; " + arr_Selected_Committer_Name[a];
            }
        }
        $(".lean_task #selected_add_committer").text(str_Selected_Committer);
    });

    //set reason
    var html_reasons = new Array();
    for (let a = 0; a < arr_Reasons.length; a++) {
        html_reasons.push("<div class='row reason_line'>");
        html_reasons.push("<div class='col-1 text-center'>");
        html_reasons.push("<input class='reason_check' type='checkbox' value='" + arr_Reasons[a].Reason + "'>");
        html_reasons.push("</div>");
        html_reasons.push("<div class='col-11'>");
        html_reasons.push("<p>" + arr_Reasons[a].Reason + "</p>");
        html_reasons.push("</div>");
        html_reasons.push("</div>");
    }
    $(".lean_task .reason_content").append(html_reasons.join(""));

    //set event for radio check
    $(".lean_task .approval_radio").change(function () {
        if ($(this)[0].value == "Rejected") {
            $(".lean_task .reason_title").show();
            $(".lean_task .reason_content").show();
            $(".lean_task .remark_content").hide();
            $(".lean_task .remark_content input[type='radio']").attr("checked", false);
        }
        else {
            $(".lean_task .reason_title").hide();
            $(".lean_task .reason_content").hide();
            $(".lean_task .reason_content .reason_check").attr("checked", false);
            $(".lean_task .remark_content").css("display", "flex");
        }
        if (arr_Type_Id_Not_Remark.includes(arr_Submit.kaizen_typeId)) {
            $(".lean_task .remark_content").hide();
        }
    });
</script>