<style>
    .button_group {
        padding-top: 20px;
    }

    .button_group input[type='button'] {
        background-color: white;
        font-weight: bold;
        width: 100%;
    }
</style>

<div class="row text-center">
    <div class="row col-md-4 offset-md-4">
        <div class="col-6">
            <input type="button" value="Finish Follow Saving" id="btn_finish">
        </div>
        <div class="col-6">
            <input type="button" value="Back" id="btn_back">
        </div>
    </div>
</div>

<script>
    //set back button event
    $("#btn_back").click(function () {
        window.location.href = url_site;
    });

    $("#btn_finish").click(function () {
        var bool_Confirm_Finish = confirm("Please confirm finish follow saving of this kaizen.");
        if (bool_Confirm_Finish) {
            var str_Follow_Saving_Id = arr_Follow_Saving[0].Id;
            update_Follow_Saving_Status(str_Follow_Saving_Id);
        }

        function update_Follow_Saving_Status(int_Follow_Saving_Id) {
            var clientContext = new SP.ClientContext(url_site);
            var oList = clientContext.get_web().get_lists().getByTitle(str_listName_follow_saving);
            this.oListItem = oList.getItemById(parseInt(int_Follow_Saving_Id));
            oListItem.set_item('Status', 'Finish Follow Saving');
            oListItem.update();
            clientContext.executeQueryAsync(function () {
                console.log('Update Finished');
                window.location.href = url_site;
            }, function (sender, args) {
                console.log('update_Follow_Saving_Status request failed. ' + args.get_message() + '\n' + args.get_stackTrace());
            });
        }
    });
</script>