<style>
    .attachment_comment>.row {
        border: 2px solid black;
        border-top: none;
    }

    .attachment_comment p {
        margin: 0;
        padding: 0;
    }

    .attachment_comment .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .attachment_comment>.row>div {
        border-right: 2px solid black;
    }

    .attachment_comment>.row>div {
        border-right: none;
    }

    .attachment_comment .step_title {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        color: black;
    }

    .attachment_comment .follow_attachments_preview {
        height: 100px;
        overflow-y: scroll;
    }

    .attachment_comment #follow_saving_comment {
        width: 100%;
        height: 150px;
        overflow-y: scroll;
        background-color: white;
        resize: none;
    }

    .attachment_comment .approver_attachment {
        height: 100px;
        overflow-y: scroll;
    }

    .attachment_comment .approver_comment {
        height: 100px;
        overflow-y: scroll;
    }

    #follow_attachments{
        height: 32px;
        font-size: 15px;
    }
</style>

<div class="row">
    <div class="col-6">
        <div class="row">
            <p class="title">Submitter</p>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <p class="step_title">Attachment Preview</p>
                </div>
                <div class="row follow_attachments_preview currently_attachment">
                    <input type="file" multiple id="follow_attachments" class="col-12">
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <p class="step_title">Attachment Previous</p>
                </div>
                <div class="row follow_attachments_preview previous_attachment">

                </div>
            </div>
        </div>
        <div class="row">
            <p class="step_title">Comment</p>
        </div>
        <div class="row">
            <textarea id="follow_saving_comment"></textarea>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <p class="title">Approver</p>
        </div>
        <div class="row">
            <p class="step_title">Attachment</p>
        </div>
        <div class="row approver_attachment">

        </div>
        <div class="row">
            <p class="step_title">Comment</p>
        </div>
        <div class="row approver_comment">

        </div>
    </div>
</div>

<script>
    var arr_Follow_Saving_Attachments = get_List_Information(url_site + "/_api/web/lists/getbytitle('" + str_listName_follow_saving_attachment + "')/items?$expand=File&$filter=Kaizen_Id eq " + int_Kaizen_Id);
    var arr_Approver_Attachments = get_List_Information(url_site + "/_api/web/lists/getbytitle('" + str_listName_approver_Attachment + "')/items?$expand=File&$filter=Kaizen_Id eq " + int_Kaizen_Id);

    //load approver attachment
    if (arr_Approver_Attachments.length > 0) {
        for (let a = 0; a < arr_Approver_Attachments.length; a++) {
            var str_Files_Name = arr_Approver_Attachments[a].File.Name;
            var str_Files_Name_Show = str_Files_Name.replace(arr_Approver_Attachments[a].Kaizen_Id + "_", '');
            var str_File_Url = 'http://portal.framas.com/' + arr_Approver_Attachments[a].File.ServerRelativeUrl;
            $('.attachment_comment .approver_attachment').append('<a class="col-12" href="' + str_File_Url + '">' + str_Files_Name_Show + '</a>');
        }
    }

    //load approver comments
    for (let a = 0; a < arr_Follow_Saving_Approval.length; a++) {
        if (arr_Follow_Saving_Approval[a].Comment != null && arr_Follow_Saving_Approval[a].Comment != "") {
            $('.attachment_comment .approver_comment').append('<p class="col-12">' + arr_Follow_Saving_Approval[a].Comment + '</p>');
        }
    }

    //load previous attachment
    if (arr_Follow_Saving_Attachments.length > 0) {
        var html_Previous_Follow_Attachment = new Array();
        for (let a = 0; a < arr_Follow_Saving_Attachments.length; a++) {
            var str_File_Name = arr_Follow_Saving_Attachments[a].File.Name;
            var str_File_Name_Show = str_File_Name.replace(arr_Follow_Saving_Attachments[a].Kaizen_Id + '_', '');
            var str_File_Url = 'http://portal.framas.com' + arr_Follow_Saving_Attachments[a].File.ServerRelativeUrl;
            html_Previous_Follow_Attachment.push('<div class="col-12">');
            html_Previous_Follow_Attachment.push('<a href="' + str_File_Url + '">' + str_File_Name_Show + '</a>');
            html_Previous_Follow_Attachment.push('</div>');
        }
        $(".attachment_comment .previous_attachment").append(html_Previous_Follow_Attachment.join(''));
    }

    if (arr_Follow_Saving.length > 0) {
        if (arr_Follow_Saving[0].Comment) {
            $(".attachment_comment #follow_saving_comment").val(arr_Follow_Saving[0].Comment);
        }
    }

    //show attachment when select attachment
    $("#follow_attachments").change(function () {
        $(".attachment_comment .currently_attachment p").remove();
        var arr_Files = $(this)[0].files;
        var html_attachment = new Array();
        for (let a = 0; a < arr_Files.length; a++) {
            var str_File_Name = arr_Files[a].name;
            html_attachment.push('<div class="col-12">');
            html_attachment.push('<p>' + str_File_Name + '</p>');
            html_attachment.push('</div>');
        }
        $(".attachment_comment .currently_attachment").append(html_attachment.join(''));
    });
</script>