<style>
    .approver_comment>.row {
        border: 2px solid black;
        border-top: none;
    }

    .approver_comment p {
        margin: 0;
        padding: 0;
    }

    .approver_comment .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .approver_comment>.row>div {
        border-right: 2px solid black;
    }

    .approver_comment>.row>div {
        border-right: none;
    }

    .approver_comment .step_title {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        color: black;
    }

    .approver_comment #approver_comment {
        width: 100%;
        height: 100px;
        resize: none;
        background-color: white;
    }

    .approver_comment #approver_attachment {
        background-color: white;
        width: 100%;
        height: 32px;
    }

    .approver_comment .attachment_preview {
        height: 100px;
        overflow-y: scroll;
    }

    .approver_comment .attachment_preview {
        height: 100px;
        overflow-y: scroll;
    }

    .approver_comment .submitter_attachment_preview {
        height: 100px;
        overflow-y: scroll;
    }

    .approver_comment #follow_saving_comment {
        width: 100%;
        height: 100px;
        overflow-y: scroll;
        background-color: white;
        resize: none;
    }
</style>
<div class="row">
    <div class="col-6">
        <div class="row">
            <p class="title">Approver</p>
        </div>
        <div class="row">
            <p class="step_title">Attachment</p>
        </div>
        <div class="row attachment_preview">
            <input type="file" multiple id="approver_attachment" class="col-12">
        </div>
        <div class="row">
            <p class="step_title">Approver Comment</p>
        </div>
        <div class="row">
            <textarea id="approver_comment"></textarea>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <p class="title">Submitter</p>
        </div>
        <div class="row">
            <p class="step_title">Submitter Attachment</p>
        </div>
        <div class="row">
            <div class="col-12 submitter_attachment_preview">

            </div>
        </div>
        <div class="row">
            <p class="step_title">Submitter Comment</p>
        </div>
        <div class="row">
            <textarea readonly id="follow_saving_comment"></textarea>
        </div>
    </div>
</div>

<script>
    var arr_Follow_Saving_Attachments = get_List_Information(url_site + "/_api/web/lists/getbytitle('" + str_listName_follow_saving_attachment + "')/items?$expand=File&$filter=Kaizen_Id eq " + int_Kaizen_Id);
    //load previous attachment
    if (arr_Follow_Saving_Attachments.length > 0) {
        var html_Previous_Follow_Attachment = new Array();
        for (let a = 0; a < arr_Follow_Saving_Attachments.length; a++) {
            var str_File_Name = arr_Follow_Saving_Attachments[a].File.Name;
            var str_File_Name_Show = str_File_Name.replace(arr_Follow_Saving_Attachments[a].Kaizen_Id + '_', '');
            var str_File_Url = 'http://portal.framas.com' + arr_Follow_Saving_Attachments[a].File.ServerRelativeUrl;
            html_Previous_Follow_Attachment.push('<div class="col-12">');
            html_Previous_Follow_Attachment.push('<a href="' + str_File_Url + '">' + str_File_Name_Show + '</a>');
            html_Previous_Follow_Attachment.push('</div>');
        }
        $(".approver_comment .submitter_attachment_preview").append(html_Previous_Follow_Attachment.join(''));
    }

    if (arr_Follow_Saving.length > 0) {
        if (arr_Follow_Saving[0].Comment) {
            $(".approver_comment #follow_saving_comment").val(arr_Follow_Saving[0].Comment);
        }
    }

    $('#approver_attachment').change(function () {
        var arr_Attachments = $(this)[0].files;
        $('.approver_comment .submitter_attachment_preview p').remove();
        if (arr_Attachments.length > 0) {
            for (let a = 0; a < arr_Attachments.length; a++) {
                var str_Attachment_Name = arr_Attachments[a].name;
                $('.approver_comment .attachment_preview').append('<p class="col-12">' + str_Attachment_Name + '</p>');
            }
        }
    });
</script>