<style>
    .follow_saving>.row {
        border: 2px solid black;
        border-top: none;
    }

    .follow_saving p {
        margin: 0;
        padding: 0;
    }

    .follow_saving .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .follow_saving>.row>div {
        border-right: 2px solid black;
    }

    .follow_saving>.row>div:last-child {
        border-right: none;
    }

    .follow_saving .step_title {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        color: black;
    }

    .follow_saving .follow_value {
        width: 100%;
        text-align: center;
    }

    .follow_saving input.follow_value[type='textbox'] {
        background-color: lightyellow;
    }

    .follow_saving .follow_line>div:first-child {
        padding: 0;
    }
</style>

<div class="row">
    <p class="title">Follow Saving</p>
</div>
<div class="row">
    <div class="col-3">
        <div class="row">
            <p class="step_title">1st Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_1" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <p class="step_title">2nd Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_2" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <p class="step_title">3rd Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_3" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <p class="step_title">4th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_4" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="row">
            <p class="step_title">5th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_5" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <p class="step_title">6th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_6" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <p class="step_title">7th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_7" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <p class="step_title">8th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_8" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="row">
            <p class="step_title">9th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_9" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <p class="step_title">10th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_10" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <p class="step_title">11th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_11" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <p class="step_title">12th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_12" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
    </div>
</div>

<script>
    if (arr_Follow_Saving.length > 0) {
        for (let a = 0; a < arr_Follow_Saving.length; a++) {
            if (arr_Follow_Saving[a].Month_1 != null) {
                $("#month_1").text(arr_Follow_Saving[a].Month_1);
            }
            if (arr_Follow_Saving[a].Month_2 != null) {
                $("#month_2").text(arr_Follow_Saving[a].Month_2);
            }
            if (arr_Follow_Saving[a].Month_3 != null) {
                $("#month_3").text(arr_Follow_Saving[a].Month_3);
            }
            if (arr_Follow_Saving[a].Month_4 != null) {
                $("#month_4").text(arr_Follow_Saving[a].Month_4);
            }
            if (arr_Follow_Saving[a].Month_5 != null) {
                $("#month_5").text(arr_Follow_Saving[a].Month_5);
            }
            if (arr_Follow_Saving[a].Month_6 != null) {
                $("#month_6").text(arr_Follow_Saving[a].Month_6);
            }
            if (arr_Follow_Saving[a].Month_7 != null) {
                $("#month_7").text(arr_Follow_Saving[a].Month_7);
            }
            if (arr_Follow_Saving[a].Month_8 != null) {
                $("#month_8").text(arr_Follow_Saving[a].Month_8);
            }
            if (arr_Follow_Saving[a].Month_9 != null) {
                $("#month_9").text(arr_Follow_Saving[a].Month_9);
            }
            if (arr_Follow_Saving[a].Month_10 != null) {
                $("#month_10").text(arr_Follow_Saving[a].Month_10);
            }
            if (arr_Follow_Saving[a].Month_11 != null) {
                $("#month_11").text(arr_Follow_Saving[a].Month_11);
            }
            if (arr_Follow_Saving[a].Month_12 != null) {
                $("#month_12").text(arr_Follow_Saving[a].Month_12);
            }
        }
        $(".follow_saving .follow_saving_unit").text(arr_Follow_Saving[0].Unit);
    } else {
        $(".follow_saving .follow_saving_unit").text(arr_Submit.kaizen_unit);
    }
</script>