<style>
    .button_group {
        padding-top: 20px;
    }

    .button_group input[type='button'] {
        background-color: white;
        font-weight: bold;
        width: 100%;
    }

    #btn_finish {
        margin-top: 20px;
    }

    .attachment_comment .border_red {
        border: 2px solid red !important;
    }
</style>

<div class="row text-center">
    <div class="row col-md-4 offset-md-4 save_cancel_wrapper">
        <div class="col-6">
            <input type="button" value="Save" id="btn_save">
        </div>
        <div class="col-6">
            <input type="button" value="Cancel" id="btn_cancel">
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-2 offset-5">
        <input type="button" value="Finish Follow Saving" id="btn_finish" class="col-12">
    </div>
</div>

<script>
    //check input follow or not
    if (arr_Follow_Saving.length <= 0) {
        $(".follow_saving .follow_value").each(function () {
            var str_Value = $(this)[0].textContent;
            var str_Id = $(this).attr("id");
            if (str_Value <= 0) {
                $(this).replaceWith("<input type='textbox' id='" + str_Id + "' class='follow_value' previour_value='" + str_Value + "' value='" + str_Value + "'>");
            } else {
                $(this).replaceWith("<p id='" + str_Id + "' class='follow_value' previour_value='" + str_Value + "'>" + str_Value + "</p>");
            }
        });
    } else {
        $(".follow_saving .follow_value").each(function () {
            var str_Value = $(this)[0].textContent;
            var str_Id = $(this).attr("id");
            if (parseInt(str_Value) <= 0) {
                $(this).replaceWith("<input type='textbox' id='" + str_Id + "' class='follow_value' previour_value='" + str_Value + "' value='" + str_Value + "'>");
            }
        });
    }

    //set save button event
    $("#btn_save").click(function () {
        var bool_check_have_follow_saving_value = false;
        var arr_Month_Value = new Array();
        for (let a = 1; a <= 12; a++) {
            var str_Month_Value = new String();
            if ($(".follow_saving #month_" + a).val() != null && $(".follow_saving #month_" + a).val() != "") {
                str_Month_Value = $(".follow_saving #month_" + a).val();
                if (parseInt(str_Month_Value) > 0) {
                    bool_check_have_follow_saving_value = true;
                }
            } else {
                str_Month_Value = $(".follow_saving #month_" + a).text();
            }
            arr_Month_Value.push(parseInt(str_Month_Value));
        }
        var ele_Attachment = $('#follow_attachments');
        var ele_Attachment_Count = ele_Attachment[0].files.length;
        if (bool_check_have_follow_saving_value) {
            if (ele_Attachment_Count > 0) {
                $('#follow_attachments').removeClass('border_red');
                save_Follow_Saving(arr_Month_Value);
            } else {
                $('#follow_attachments').addClass('border_red');
                alert('Please insert the evidence/calculation for your saving.');
            }
        } else {
            alert('Please input your saving number.');
        }
    });

    //set cancel button event
    $("#btn_cancel").click(function () {
        window.location.href = url_site;
    });

    function save_Follow_Saving(arr_Month_Value) {
        get_Follow_Saving(int_Kaizen_Id);

        var arr_Approver_Email = new Array();
        for (let a = 0; a < arr_Department.length; a++) {
            if (arr_Department[a].Title == "Saving approval" && arr_Department[a].UserId != null) {
                var arr_Approver_Id = arr_Department[a].UserId.results;
                for (let b = 0; b < arr_Approver_Id.length; b++) {
                    for (let c = 0; c < arr_All_Users.length; c++) {
                        if (arr_Approver_Id[b] == arr_All_Users[c].Id) {
                            arr_Approver_Email.push(arr_All_Users[c].Email);
                        }
                    }
                }
            }
        }

        var str_Title = arr_Submit.Title;
        var str_Unit = arr_Submit.kaizen_unit;

        $('#btn_save').attr('disabled', true);
        $('#btn_cancel').attr('disabled', true);
        $('#btn_finish').attr('disabled', true);
        if (arr_Follow_Saving_Attachments.length > 0) {
            delete_Follow_Attachment(str_Title, int_Kaizen_Id, str_Unit, arr_Month_Value, arr_Approver_Email, 'follow_attachments');
        } else {
            upload_Follow_Attachment(str_Title, int_Kaizen_Id, str_Unit, arr_Month_Value, arr_Approver_Email, 'follow_attachments');
        }

        function delete_Follow_Attachment(str_Title, int_Kaizen_Id, str_Unit, arr_Month_Value, arr_Approver_Email, str_Attachment_Id) {
            var fileInput = $('#' + str_Attachment_Id);
            var fileCount = fileInput[0].files.length;
            if (fileCount > 0) {
                var clientContext = new SP.ClientContext(url_site);
                var oList = clientContext.get_web().get_lists().getByTitle(str_listName_follow_saving_attachment);
                for (let a = 0; a < arr_Follow_Saving_Attachments.length; a++) {
                    this.oListItem = oList.getItemById(arr_Follow_Saving_Attachments[a].Id);
                    oListItem.deleteObject();
                }
                clientContext.executeQueryAsync(function () {
                    console.log('finished delete follow attachment');
                    upload_Follow_Attachment(str_Title, int_Kaizen_Id, str_Unit, arr_Month_Value, arr_Approver_Email, 'follow_attachments');
                }, function (sender, args) {
                    console.log('delete_Follow_Attachment request failed. ' + args.get_message() + '\n' + args.get_stackTrace());
                });
            } else {
                upload_Follow_Attachment(str_Title, int_Kaizen_Id, str_Unit, arr_Month_Value, arr_Approver_Email, 'follow_attachments');
            }
        }

        function upload_Follow_Attachment(str_Title, int_Kaizen_Id, str_Unit, arr_Month_Value, arr_Approver_Email, str_Attachment_Id) {
            // Define the folder path for this example.
            var serverRelativeUrlToFolder = str_listName_follow_saving_attachment;

            // Get test values from the file input and text input page controls.
            var fileInput = $('#' + str_Attachment_Id);
            var fileCount = fileInput[0].files.length;
            if (fileCount > 0) {
                console.log("Start update attachments");
                // Get the server URL.
                var serverUrl = _spPageContextInfo.webAbsoluteUrl;
                var filesUploaded = 0;
                var arr_attachmentId = new Array();
                for (var i = 0; i < fileCount; i++) {
                    // Initiate method calls using $ promises.
                    // Get the local file as an array buffer.
                    var getFile = getFileBuffer(i);
                    getFile.done(function (arrayBuffer, i) {
                        // Add the file to the SharePoint folder.
                        var addFile = addFileToFolder(int_Kaizen_Id, arrayBuffer, i);
                        addFile.done(function (file, status, xhr) {
                            var int_fileListId = file.d.ListItemAllFields.ID;
                            arr_attachmentId.push(int_fileListId);
                            filesUploaded++;
                            if (fileCount == filesUploaded) {
                                filesUploaded = 0;
                                update_List_Item_Infor(arr_attachmentId, int_Kaizen_Id);
                            }
                        });
                        addFile.fail(onError);
                    });
                    getFile.fail(onError);
                }
            } else {
                console.log("Empty attachment");
                if (arr_Follow_Saving.length <= 0) {
                    console.log('add follow saving');
                    add_Follow_Saving(str_Title, int_Kaizen_Id, str_Unit, arr_Month_Value, arr_Approver_Email);
                } else {
                    console.log('update follow saving');
                    var str_Follow_Saving_Id = arr_Follow_Saving[0].Id;
                    update_Follow_Saving(str_Follow_Saving_Id, arr_Month_Value);
                }
            }

            // Get the local file as an array buffer.
            function getFileBuffer(i) {
                var deferred = $.Deferred();
                var reader = new FileReader();
                reader.onloadend = function (e) {
                    deferred.resolve(e.target.result, i);
                }
                reader.onerror = function (e) {
                    deferred.reject(e.target.error);
                }
                reader.readAsArrayBuffer(fileInput[0].files[i]);
                return deferred.promise();
            }

            // Add the file to the file collection in the Shared Documents folder.
            function addFileToFolder(str_Kaizen_Id, arrayBuffer, i) {
                var index = i;

                // Get the file name from the file input control on the page.
                var fileName = str_Kaizen_Id + "_" + fileInput[0].files[index].name;

                // Construct the endpoint.
                var fileCollectionEndpoint = String.format(
                    "{0}/_api/web/getfolderbyserverrelativeurl('{1}')/files/add(overwrite=true, url='{2}')?$expand=ListItemAllFields",
                    serverUrl, serverRelativeUrlToFolder, fileName);

                // Send the request and return the response.
                // This call returns the SharePoint file.
                return $.ajax({
                    url: fileCollectionEndpoint,
                    type: "POST",
                    data: arrayBuffer,
                    processData: false,
                    headers: {
                        "accept": "application/json;odata=verbose",
                        "X-RequestDigest": $("#__REQUESTDIGEST").val()
                    }
                });
            }

            // Display error messages. 
            function onError(error) {
                console.log(error.responseText);
            }

            function update_List_Item_Infor(arr_attachmentId, int_Kaizen_Id) {
                var clientContext = new SP.ClientContext(url_site);
                var oList = clientContext.get_web().get_lists().getByTitle(str_listName_follow_saving_attachment);
                for (let i = 0; i < arr_attachmentId.length; i++) {
                    this.oListItem = oList.getItemById(parseInt(arr_attachmentId[i]));
                    oListItem.set_item('Kaizen_Id', int_Kaizen_Id);
                    oListItem.update();
                }
                clientContext.executeQueryAsync(function () {
                    if (arr_Follow_Saving.length <= 0) {
                        console.log('add follow saving');
                        add_Follow_Saving(str_Title, int_Kaizen_Id, str_Unit, arr_Month_Value, arr_Approver_Email);
                    } else {
                        console.log('update follow saving');
                        var str_Follow_Saving_Id = arr_Follow_Saving[0].Id;
                        update_Follow_Saving(str_Follow_Saving_Id, arr_Month_Value);
                    }
                }, function (sender, args) {
                    console.log("update_Image_Infor Before " + args.get_stackTrace());
                });
            }
        }

        function add_Follow_Saving(str_Title, int_Kaizen_Id, str_Unit, arr_Month_Value, arr_Approver_Email) {
            var clientContext = new SP.ClientContext(url_site);
            var oList = clientContext.get_web().get_lists().getByTitle(str_listName_follow_saving);
            var itemCreateInfo = new SP.ListItemCreationInformation();
            this.oListItem = oList.addItem(itemCreateInfo);

            oListItem.set_item('Title', str_Title);
            oListItem.set_item('Kaizen_Id', parseInt(int_Kaizen_Id));
            oListItem.set_item('Unit', str_Unit);
            oListItem.set_item('Status', "Pending");
            oListItem.set_item('Comment', $(".attachment_comment #follow_saving_comment")[0].value);

            var lookup_Approver = new Array();
            for (let a = 0; a < arr_Approver_Email.length; a++) {
                lookup_Approver.push(SP.FieldUserValue.fromUser(arr_Approver_Email[a]));
            }
            oListItem.set_item("Approvers", lookup_Approver);

            for (let a = 0; a < arr_Month_Value.length; a++) {
                var int_Index = a + 1;
                oListItem.set_item('Month_' + int_Index + '_Temp', arr_Month_Value[a]);
            }
            oListItem.update();
            clientContext.load(oListItem);
            clientContext.executeQueryAsync(function () {
                console.log("Add Finised");
                window.location.href = url_site;
            }, function (sender, args) {
                console.log('add_Follow_Saving request failed. ' + args.get_message() + '\n' + args.get_stackTrace());
            });
        }

        function update_Follow_Saving(int_Follow_Saving_Id, arr_Month_Value) {
            var clientContext = new SP.ClientContext(url_site);
            var oList = clientContext.get_web().get_lists().getByTitle(str_listName_follow_saving);
            this.oListItem = oList.getItemById(parseInt(int_Follow_Saving_Id));
            for (let a = 0; a < arr_Month_Value.length; a++) {
                var int_Index = a + 1;
                oListItem.set_item('Month_' + int_Index + '_Temp', arr_Month_Value[a]);
            }
            oListItem.set_item('Status', 'Pending');
            oListItem.set_item('Comment', $(".attachment_comment #follow_saving_comment")[0].value);
            oListItem.update();
            clientContext.executeQueryAsync(function () {
                console.log('Update Finished');
                window.location.href = url_site;
            }, function (sender, args) {
                console.log('update_Follow_Saving request failed. ' + args.get_message() + '\n' + args.get_stackTrace());
            });
        }
    }

    $("#btn_finish").click(function () {
        var bool_Confirm_Finish = confirm("Please confirm finish follow saving of this kaizen.");
        if (bool_Confirm_Finish) {
            var str_Follow_Saving_Id = arr_Follow_Saving[0].Id;
            update_Follow_Saving_Status(str_Follow_Saving_Id);
        }

        function update_Follow_Saving_Status(int_Follow_Saving_Id) {
            var clientContext = new SP.ClientContext(url_site);
            var oList = clientContext.get_web().get_lists().getByTitle(str_listName_follow_saving);
            this.oListItem = oList.getItemById(parseInt(int_Follow_Saving_Id));
            oListItem.set_item('Status', 'Finish Follow Saving');
            oListItem.update();
            clientContext.executeQueryAsync(function () {
                console.log('Update Finished');
                window.location.href = url_site;
            }, function (sender, args) {
                console.log('update_Follow_Saving_Status request failed. ' + args.get_message() + '\n' + args.get_stackTrace());
            });
        }
    });
</script>