<style>
    .follow_saving>.row {
        border: 2px solid black;
        border-top: none;
    }

    .follow_saving p {
        margin: 0;
        padding: 0;
    }

    .follow_saving .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .follow_saving>.row>div {
        border-right: 2px solid black;
    }

    .follow_saving>.row>div:last-child {
        border-right: none;
    }

    .follow_saving .step_title {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        color: black;
    }

    .follow_saving .follow_value {
        width: 100%;
        text-align: center;
    }

    .follow_saving .approval_line {
        display: none;
    }

    .follow_saving .approval_line>div>div>div {
        padding: 0;
    }

    .follow_saving .follow_line>div:first-child {
        padding: 0;
    }

    .follow_saving .follow_line {
        border-bottom: 2px solid black;
    }
</style>

<div class="row">
    <p class="title">Follow Saving</p>
</div>
<div class="row">
    <div class="col-3 approval_month_1">
        <div class="row">
            <p class="step_title">1st Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_1" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_1_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_1_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_1_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 approval_month_2">
        <div class="row">
            <p class="step_title">2nd Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_2" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_2_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_2_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_2_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 approval_month_3">
        <div class="row">
            <p class="step_title">3rd Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_3" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_3_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_3_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_3_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 approval_month_4">
        <div class="row">
            <p class="step_title">4th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_4" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_4_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_4_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_4_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3 approval_month_5">
        <div class="row">
            <p class="step_title">5th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_5" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_5_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_5_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_5_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 approval_month_6">
        <div class="row">
            <p class="step_title">6th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_6" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_6_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_6_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_6_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 approval_month_7">
        <div class="row">
            <p class="step_title">7th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_7" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_7_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_7_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_7_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 approval_month_8">
        <div class="row">
            <p class="step_title">8th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_8" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_8_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_8_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_8_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3 approval_month_9">
        <div class="row">
            <p class="step_title">9th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_9" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_9_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_9_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_9_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 approval_month_10">
        <div class="row">
            <p class="step_title">10th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_10" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_10_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_10_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_10_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 approval_month_11">
        <div class="row">
            <p class="step_title">11th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_11" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_11_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_11_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_11_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 approval_month_12">
        <div class="row">
            <p class="step_title">12th Month</p>
        </div>
        <div class="row follow_line">
            <div class="col-6">
                <p id="month_12" class="follow_value text-right">0</p>
            </div>
            <div class="col-6">
                <p class="follow_saving_unit"></p>
            </div>
        </div>
        <div class="row approval_line month_12_approval">
            <div class="col-6">
                <div class="row">
                    <div class="col-2 offset-1">
                        <input type="radio" name="month_12_radio" value="Approved">
                    </div>
                    <div class="col-9">
                        <p>Approved</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="radio" name="month_12_radio" value="Rejected">
                    </div>
                    <div class="col-6">
                        <p>Rejected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var int_number_update_value = 0;
    if (arr_Follow_Saving.length > 0) {
        for (let a = 0; a < arr_Follow_Saving.length; a++) {
            for (let b = 0; b < arr_Follow_Saving_Approval.length; b++) {
                if (userId == arr_Follow_Saving_Approval[b].ApproverId) {
                    if (arr_Follow_Saving[a].Month_1 != null) {
                        $("#month_1").text(arr_Follow_Saving[a].Month_1);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_1 != "Approved" && arr_Follow_Saving_Approval[b].Month_1 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_1) > 0) {
                            $("#month_1").text(arr_Follow_Saving_Approval[b].Month_1);
                            $(".follow_saving .month_1_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_2 != null) {
                        $("#month_2").text(arr_Follow_Saving[a].Month_2);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_2 != "Approved" && arr_Follow_Saving_Approval[b].Month_2 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_2) > 0) {
                            $("#month_2").text(arr_Follow_Saving_Approval[b].Month_2);
                            $(".follow_saving .month_2_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_3 != null) {
                        $("#month_3").text(arr_Follow_Saving[a].Month_3);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_3 != "Approved" && arr_Follow_Saving_Approval[b].Month_3 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_3) > 0) {
                            $("#month_3").text(arr_Follow_Saving_Approval[b].Month_3);
                            $(".follow_saving .month_3_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_4 != null) {
                        $("#month_4").text(arr_Follow_Saving[a].Month_4);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_4 != "Approved" && arr_Follow_Saving_Approval[b].Month_4 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_4) > 0) {
                            $("#month_4").text(arr_Follow_Saving_Approval[b].Month_4);
                            $(".follow_saving .month_4_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_5 != null) {
                        $("#month_5").text(arr_Follow_Saving[a].Month_5);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_5 != "Approved" && arr_Follow_Saving_Approval[b].Month_5 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_5) > 0) {
                            $("#month_5").text(arr_Follow_Saving_Approval[b].Month_5);
                            $(".follow_saving .month_5_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_6 != null) {
                        $("#month_6").text(arr_Follow_Saving[a].Month_6);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_6 != "Approved" && arr_Follow_Saving_Approval[b].Month_6 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_6) > 0) {
                            $("#month_6").text(arr_Follow_Saving_Approval[b].Month_6);
                            $(".follow_saving .month_6_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_7 != null) {
                        $("#month_7").text(arr_Follow_Saving[a].Month_7);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_7 != "Approved" && arr_Follow_Saving_Approval[b].Month_7 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_7) > 0) {
                            $("#month_7").text(arr_Follow_Saving_Approval[b].Month_7);
                            $(".follow_saving .month_7_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_8 != null) {
                        $("#month_8").text(arr_Follow_Saving[a].Month_8);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_8 != "Approved" && arr_Follow_Saving_Approval[b].Month_8 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_8) > 0) {
                            $("#month_8").text(arr_Follow_Saving_Approval[b].Month_8);
                            $(".follow_saving .month_8_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_9 != null) {
                        $("#month_9").text(arr_Follow_Saving[a].Month_9);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_9 != "Approved" && arr_Follow_Saving_Approval[b].Month_9 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_9) > 0) {
                            $("#month_9").text(arr_Follow_Saving_Approval[b].Month_9);
                            $(".follow_saving .month_9_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_10 != null) {
                        $("#month_10").text(arr_Follow_Saving[a].Month_10);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_10 != "Approved" && arr_Follow_Saving_Approval[b].Month_10 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_10) > 0) {
                            $("#month_10").text(arr_Follow_Saving_Approval[b].Month_10);
                            $(".follow_saving .month_10_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_11 != null) {
                        $("#month_11").text(arr_Follow_Saving[a].Month_11);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_11 != "Approved" && arr_Follow_Saving_Approval[b].Month_11 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_11) > 0) {
                            $("#month_11").text(arr_Follow_Saving_Approval[b].Month_11);
                            $(".follow_saving .month_11_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }

                    if (arr_Follow_Saving[a].Month_12 != null) {
                        $("#month_12").text(arr_Follow_Saving[a].Month_12);
                    } else {
                        if (arr_Follow_Saving_Approval[b].Month_12 != "Approved" && arr_Follow_Saving_Approval[b].Month_12 != "Rejected" && parseInt(arr_Follow_Saving_Approval[b].Month_12) > 0) {
                            $("#month_12").text(arr_Follow_Saving_Approval[b].Month_12);
                            $(".follow_saving .month_12_approval").css("display", "flex");
                            int_number_update_value++;
                        }
                    }
                }
            }
        }
        $(".follow_saving .follow_saving_unit").text(arr_Follow_Saving[0].Unit);
    } else {
        $(".follow_saving .follow_saving_unit").text(arr_Submit.kaizen_unit);
    }
</script>