<style>
    .button_group {
        padding-top: 20px;
    }

    .button_group input[type='button'] {
        background-color: white;
        font-weight: bold;
        width: 100%;
    }
</style>

<div class="row text-center">
    <div class="row col-md-4 offset-md-4">
        <div class="col-6">
            <input type="button" value="Save" id="btn_save">
        </div>
        <div class="col-6">
            <input type="button" value="Cancel" id="btn_cancel">
        </div>
    </div>
</div>

<script>
    //set save button event
    $("#btn_save").click(function () {
        var arr_Approval_Value = new Array();
        for (let a = 1; a <= 12; a++) {
            var str_Value = get_Month_Approval_Value('month_' + a + '_radio', a);
            arr_Approval_Value.push(str_Value);
        }
        var int_Count_Approval_Value = 0;
        for (let a = 0; a < arr_Approval_Value.length; a++) {
            if (arr_Approval_Value[a] != "") {
                int_Count_Approval_Value++;
            }
        }

        if (int_Count_Approval_Value == int_number_update_value) {
            $("#btn_save").attr("disabled", true);
            $("#btn_cancel").attr("disabled", true);
            var arr_Approver_Attachments = get_List_Information(url_site + "/_api/web/lists/getbytitle('" + str_listName_approver_Attachment + "')/items?$expand=File&$filter=Kaizen_Id eq " + int_Kaizen_Id);
            console.log(arr_Approver_Attachments);
            if (arr_Approver_Attachments.length > 0) {
                delete_Approver_Attachment('approver_attachment', int_Kaizen_Id, arr_Approval_Value);
            } else {
                upload_Approver_Attachment('approver_attachment', int_Kaizen_Id, arr_Approval_Value);
            }
        }

        function delete_Approver_Attachment(str_Attachment_Id, int_Kaizen_Id, arr_Approval_Value) {
            var fileInput = $('#' + str_Attachment_Id);
            var fileCount = fileInput[0].files.length;
            if (fileCount > 0) {
                var clientContext = new SP.ClientContext(url_site);
                var oList = clientContext.get_web().get_lists().getByTitle(str_listName_approver_Attachment);
                for (let a = 0; a < arr_Approver_Attachments.length; a++) {
                    this.oListItem = oList.getItemById(arr_Approver_Attachments[a].Id);
                    oListItem.deleteObject();
                }
                clientContext.executeQueryAsync(function () {
                    console.log('finished delete approver attachment');
                    upload_Approver_Attachment('approver_attachment', int_Kaizen_Id, arr_Approval_Value);
                }, function (sender, args) {
                    console.log('delete_Approver_Attachment request failed. ' + args.get_message() + '\n' + args.get_stackTrace());
                });
            } else {
                upload_Approver_Attachment('approver_attachment', int_Kaizen_Id, arr_Approval_Value);
            }
        }

        function upload_Approver_Attachment(str_Attachment_Id, int_Kaizen_Id, arr_Approval_Value) {
            // Define the folder path for this example.
            var serverRelativeUrlToFolder = str_listName_approver_Attachment;

            // Get test values from the file input and text input page controls.
            var fileInput = $('#' + str_Attachment_Id);
            var fileCount = fileInput[0].files.length;
            if (fileCount > 0) {
                console.log("Start update attachments");
                // Get the server URL.
                var serverUrl = _spPageContextInfo.webAbsoluteUrl;
                var filesUploaded = 0;
                var arr_attachmentId = new Array();
                for (var i = 0; i < fileCount; i++) {
                    // Initiate method calls using $ promises.
                    // Get the local file as an array buffer.
                    var getFile = getFileBuffer(i);
                    getFile.done(function (arrayBuffer, i) {
                        // Add the file to the SharePoint folder.
                        var addFile = addFileToFolder(int_Kaizen_Id, arrayBuffer, i);
                        addFile.done(function (file, status, xhr) {
                            var int_fileListId = file.d.ListItemAllFields.ID;
                            arr_attachmentId.push(int_fileListId);
                            filesUploaded++;
                            if (fileCount == filesUploaded) {
                                filesUploaded = 0;
                                update_List_Item_Infor(arr_attachmentId, int_Kaizen_Id);
                            }
                        });
                        addFile.fail(onError);
                    });
                    getFile.fail(onError);
                }
            } else {
                console.log("None Attachment");
                update_Approval_Status(arr_Approval_Value);
            }

            // Get the local file as an array buffer.
            function getFileBuffer(i) {
                var deferred = $.Deferred();
                var reader = new FileReader();
                reader.onloadend = function (e) {
                    deferred.resolve(e.target.result, i);
                }
                reader.onerror = function (e) {
                    deferred.reject(e.target.error);
                }
                reader.readAsArrayBuffer(fileInput[0].files[i]);
                return deferred.promise();
            }

            // Add the file to the file collection in the Shared Documents folder.
            function addFileToFolder(str_Kaizen_Id, arrayBuffer, i) {
                var index = i;

                // Get the file name from the file input control on the page.
                var fileName = str_Kaizen_Id + "_" + fileInput[0].files[index].name;

                // Construct the endpoint.
                var fileCollectionEndpoint = String.format(
                    "{0}/_api/web/getfolderbyserverrelativeurl('{1}')/files/add(overwrite=true, url='{2}')?$expand=ListItemAllFields",
                    serverUrl, serverRelativeUrlToFolder, fileName);

                // Send the request and return the response.
                // This call returns the SharePoint file.
                return $.ajax({
                    url: fileCollectionEndpoint,
                    type: "POST",
                    data: arrayBuffer,
                    processData: false,
                    headers: {
                        "accept": "application/json;odata=verbose",
                        "X-RequestDigest": $("#__REQUESTDIGEST").val()
                    }
                });
            }

            // Display error messages. 
            function onError(error) {
                console.log(error.responseText);
            }

            function update_List_Item_Infor(arr_attachmentId, int_Kaizen_Id) {
                var clientContext = new SP.ClientContext(url_site);
                var oList = clientContext.get_web().get_lists().getByTitle(str_listName_approver_Attachment);
                for (let i = 0; i < arr_attachmentId.length; i++) {
                    this.oListItem = oList.getItemById(parseInt(arr_attachmentId[i]));
                    oListItem.set_item('Kaizen_Id', int_Kaizen_Id);
                    oListItem.update();
                }
                clientContext.executeQueryAsync(function () {
                    console.log("Upload Attachment Finish");
                    update_Approval_Status(arr_Approval_Value);
                }, function (sender, args) {
                    console.log("Upload Attachment Fail");
                    console.log("update_Image_Infor Before " + args.get_stackTrace());
                });
            }
        }

        function update_Approval_Status(arr_Approval_Value) {
            var clientContext = new SP.ClientContext(url_site);
            var oList = clientContext.get_web().get_lists().getByTitle(str_listName_follow_saving_approval);
            this.oListItem = oList.getItemById(parseInt(int_Follow_Saving_Approval_Id));
            for (let a = 0; a < arr_Approval_Value.length; a++) {
                if (arr_Approval_Value[a] != null && arr_Approval_Value[a] != "") {
                    var int_Index = a + 1;
                    oListItem.set_item('Month_' + int_Index, arr_Approval_Value[a]);
                }
            }
            oListItem.set_item('Status', 'Finish Approval');
            oListItem.set_item('Comment', $(".approver_comment #approver_comment")[0].value);
            oListItem.update();
            clientContext.executeQueryAsync(function () {
                console.log('Update Finished');
                window.location.href = url_site;
            }, function (sender, args) {
                console.log('update_Approval_Status request failed. ' + args.get_message() + '\n' + args.get_stackTrace());
            });
        }
    });

    //set cancel button event
    $("#btn_cancel").click(function () {
        window.location.href = url_site;
    });

    function get_Month_Approval_Value(str_Name, int_Index) {
        var str_Approval_Month = new String();
        if ($('.follow_saving .approval_line input[name="' + str_Name + '"]:checked').val() != null) {
            $('.follow_saving .month_' + int_Index + '_approval').css("outline", "none");
            str_Approval_Month = $('.follow_saving .approval_line input[name="' + str_Name + '"]:checked').val();
        } else {
            $('.follow_saving .month_' + int_Index + '_approval').css("outline", "2px solid red");
        }
        return str_Approval_Month;
    }
</script>