<style>
    .home_content {
        position: relative;
    }

    .home_content #btn_new_submit {
        height: 40px;
        border: 2px solid black;
        background-color: white;
        font-weight: bold;
    }

    .home_content .tab_title {
        margin-top: 20px;
    }

    .home_content .tab_title>div {
        padding: 0 1px !important;
    }

    .home_content .tab_title>div>p {
        background-color: lightgray;
        color: white;
        text-align: center;
        border-radius: 8px 10px 0 0;
        margin: 0;
        cursor: pointer;
    }

    .home_content .tab_title>div>p.active {
        background-color: #4d4d4d !important;
    }

    .home_content .pull_left {
        margin-left: 10px;
        float: left;
    }

    .home_content .submits_wrapper {
        position: absolute;
        width: 100%;
        height: 450px;
        background-color: white;
        z-index: 1;
        padding-top: 20px;
        border: 2px solid black;
    }

    .home_content .submits_wrapper .dataTables_wrapper {
        width: 100%;
    }

    .home_content .active_content {
        z-index: 2;
    }
</style>

<div class="row">
    <input type="button" value="New submission" id="btn_new_submit">
</div>
<div class="row tab_title">
    <div class="col-1">
        <p class="active">Owner</p>
    </div>
    <div class="col-1">
        <p>Team</p>
    </div>
    <div class="col-2">
        <p>Supervisor</p>
    </div>
    <div class="col-2">
        <p>Committer</p>
    </div>
    <div class="col-1">
        <p>Lean</p>
    </div>
    <div class="col-2">
        <p>Follow Saving Approval</p>
    </div>
</div>
<div class="row submits_wrapper active_content" id="owner_wrapper">
    <table id="tbl_owner_submits">
        <thead>
            <th>Title/Subject</th>
            <th>Kaizen Code</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="row submits_wrapper" id="team_wrapper">
    <table id="tbl_team_submits">
        <thead>
            <th>Title/Subject</th>
            <th>Submitter</th>
            <th>Kaizen Code</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="row submits_wrapper" id="supervisor_wrapper">
    <table id="tbl_supervisor_submits">
        <thead>
            <th>Title/Subject</th>
            <th>Submitter</th>
            <th>Kaizen Code</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="row submits_wrapper" id="committer_wrapper">
    <table id="tbl_committer_submits">
        <thead>
            <th>Title/Subject</th>
            <th>Submitter</th>
            <th>Kaizen Code</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="row submits_wrapper" id="lean_add_committer_wrapper">
    <table id="tbl_lean_add_committer_submits">
        <thead>
            <th>Title/Subject</th>
            <th>Submitter</th>
            <th>Kaizen Code</th>
            <th>Kaizen Status</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="row submits_wrapper" id="following_approval_wrapper">
    <table id="tbl_following_approval_submits">
        <thead>
            <th>Title/Subject</th>
            <th>Kaizen Code</th>
            <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script src="http://portal.framas.com/sites/kaizen/SiteAssets/html/Home%20Page%20Component/js_Home.js"></script>