<style>
    .report iframe {
        width: 100%;
        height: 720px;
    }
</style>

<iframe src="http://192.168.100.10/ReportsPBI/powerbi/Kaizen/Group?rs:embed=true" frameborder="0"
    allowFullScreen="true"></iframe>

<script>
    $('#root_App').removeClass('container');
    $('#root_App').addClass('fluid-container');
</script>