<style>
    .approval_task>.row {
        border: 2px solid black;
        border-top: none;
    }

    .approval_task p {
        margin: 0;
        padding: 0;
    }

    .approval_task .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .approval_task>.row>div {
        border-right: 2px solid black;
    }

    .approval_task>.row>div:last-child {
        border-right: none;
    }

    .approval_task .step_title {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        color: black;
    }

    .approval_task .reason_title {
        display: none;
    }

    .approval_task .reason_content {
        display: none;
        height: 120px;
        overflow-y: scroll;
    }

    .approval_task .reason_content .reason_line {
        width: 100%;
        border-right: none;
    }

    .approval_task .comment_content textarea {
        width: 100%;
        height: 100px;
        background-color: white;
        resize: none;
    }
</style>

<div class="row">
    <p class="title">Approval Task</p>
</div>
<div class="row">
    <p class="step_title">Approval</p>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="row">
            <div class="col-2 text-right">
                <input type="radio" value="Approved" class="approval_radio" name="approval_radio" checked>
            </div>
            <div class="col-4">
                <p>Approved</p>
            </div>
            <div class="col-2 text-right">
                <input type="radio" value="Rejected" class="approval_radio" name="approval_radio">
            </div>
            <div class="col-4">
                <p>Rejected</p>
            </div>
        </div>
    </div>
</div>
<div class="row reason_title">
    <p class="step_title">Reason</p>
</div>
<div class="row reason_content">

</div>
<div class="row">
    <p class="step_title">Comment</p>
</div>
<div class="row comment_content">
    <textarea></textarea>
</div>

<script>
    //set reason
    var html_reasons = new Array();
    for (let a = 0; a < arr_Reasons.length; a++) {
        html_reasons.push("<div class='row reason_line'>");
        html_reasons.push("<div class='col-1 text-center'>");
        html_reasons.push("<input class='reason_check' type='checkbox' value='" + arr_Reasons[a].Reason + "'>");
        html_reasons.push("</div>");
        html_reasons.push("<div class='col-11'>");
        html_reasons.push("<p>" + arr_Reasons[a].Reason + "</p>");
        html_reasons.push("</div>");
        html_reasons.push("</div>");
    }
    $(".approval_task .reason_content").append(html_reasons.join(""));

    $(".approval_task .approval_radio").change(function () {
        console.log($(this));
        if ($(this)[0].value == "Rejected") {
            $(".approval_task .reason_title").show();
            $(".approval_task .reason_content").show();
        }
        else {
            $(".approval_task .reason_title").hide();
            $(".approval_task .reason_content").hide();
            $(".approval_task .reason_content .reason_check").attr("checked", false);
        }
    });
</script>