<style>
    .submitter_comment p{
        margin: 0;
        padding: 0;
    }
    .submitter_comment .row{
        border: 2px solid black;
        border-top: none;
    }
    .submitter_comment .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }
    .submitter_comment #submitter_comment{
        width: 100%;
        resize: none;
        background-color: white;
        height: 200px;
    }
</style>

<div class="row text-center">
    <p class="title">Note</p>
</div>
<div class="row">
    <textarea id="submitter_comment" value=""></textarea>
</div>