<style>
    .submitter_team_cc>.row {
        border: 2px solid black;
        border-top: none;
    }

    .submitter_team_cc p {
        margin: 0;
        padding: 0;
    }

    .submitter_team_cc .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .submitter_team_cc .step_title {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        color: black;
    }

    .submitter_team_cc>.row>div {
        border-right: 2px solid black;
    }

    .submitter_team_cc>.row>div:last-child {
        border-right: none;
    }

    .submitter_team_cc .tbl_team_cc {
        width: 100%;
    }

    #tbl_Team_wrapper {
        width: 100%;
    }

    .dataTables_scrollBody {
        width: 100% !important;
    }

    #tbl_CC_wrapper {
        width: 100%;
    }

    .submitter_team_cc .selected_team {
        width: 100%;
        height: 100px;
        overflow-y: scroll;
    }

    .submitter_team_cc .selected_cc {
        width: 100%;
        height: 100px;
        overflow-y: scroll;
    }

    .pull_left {
        float: left !important;
    }

    .submitter_team_cc .team_label {
        display: none;
    }

    .submitter_team_cc .team_title>div {
        background-color: #4d4d4d;
    }

    .submitter_team_cc .team_title>div>img {
        width: 18px;
    }

    .submitter_team_cc .team_title:hover .team_label {
        display: block;
    }

    .submitter_team_cc .cc_label {
        display: none;
    }

    .submitter_team_cc .cc_title>div {
        background-color: #4d4d4d;
    }

    .submitter_team_cc .cc_title>div>img {
        width: 18px;
    }

    .submitter_team_cc .cc_title:hover .cc_label {
        display: block;
    }

    .submitter_team_cc .team_selected_line {
        width: 100%;
    }

    .submitter_team_cc .team_selected_line .team_selected {
        float: left;
    }

    .submitter_team_cc .team_selected_line .team_selected_remove {
        float: left;
        font-size: 10px;
        margin-left: 5px;
        cursor: pointer;
    }

    .submitter_team_cc .cc_selected_line {
        width: 100%;
    }

    .submitter_team_cc .cc_selected_line .cc_selected {
        float: left;
    }

    .submitter_team_cc .cc_selected_line .cc_selected_remove {
        float: left;
        font-size: 10px;
        margin-left: 5px;
        cursor: pointer;
    }
</style>

<div class="row">
    <p class="title">Supervisor</p>
</div>
<div class="row text-center">
    <div class="col-4">
        <p id="supervisor_name">name</p>
    </div>
    <div class="col-4">
        <p id="supervisor_email">email</p>
    </div>
    <div class="col-4">
        <p id="supervisor_department">department</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Submitter</p>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Name</p>
            </div>
            <div class="col-8">
                <p id="submitter_name">name</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Email</p>
            </div>
            <div class="col-8">
                <p id="submitter_email">email</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Position</p>
            </div>
            <div class="col-8">
                <p id="submitter_position">position</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row text-center team_title">
            <p class="col-6 title text-right">Team</p>
            <div class="col-6 text-left">
                <img src="http://portal.framas.com/sites/kaizen/SiteAssets/images/question_icon.png">
            </div>
            <p class="col-12 team_label step_title">(Please add team members that you would like to follow up the kaizen
                together - The Team members added must confirm for the kaizen first as the kaizen process)</p>
        </div>
        <div class="row">
            <table id="tbl_Team" class="tbl_team_cc">
                <thead>
                    <th></th>
                    <th>Name</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="selected_team"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="row text-center cc_title">
            <p class="col-6 title text-right">CC</p>
            <div class="col-6 text-left">
                <img src="http://portal.framas.com/sites/kaizen/SiteAssets/images/question_icon.png">
            </div>
            <p class="col-12 cc_label step_title">(Please add the person that you would like to receive the information
                about the kaizen progress)</p>
        </div>
        <div class="row">
            <table id="tbl_CC" class="tbl_team_cc">
                <thead>
                    <th></th>
                    <th>Name</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="row">
            <p class="selected_cc"></p>
        </div>
    </div>
</div>

<script>
    var arr_Selected_Team = new Array();
    var arr_Selected_Team_Email = new Array();
    var arr_Selected_CC = new Array();
    var arr_Selected_CC_Email = new Array();
    var arr_Team_Currently_Id = arr_Submit.kaizen_teamId.results;
    var arr_CC_Currently_Id = arr_Submit.kaizen_ccId.results;
    for (let a = 0; a < arr_All_Users.length; a++) {
        for (let b = 0; b < arr_Team_Currently_Id.length; b++) {
            if (arr_All_Users[a].Id == arr_Team_Currently_Id[b]) {
                arr_Selected_Team.push({
                    "name": arr_All_Users[a].Title,
                    "email": arr_All_Users[a].Email
                });
                arr_Selected_Team_Email.push(arr_All_Users[a].Email);
            }
        }
        for (let b = 0; b < arr_CC_Currently_Id.length; b++) {
            if (arr_All_Users[a].Id == arr_CC_Currently_Id[b]) {
                arr_Selected_CC.push({
                    "name": arr_All_Users[a].Title,
                    "email": arr_All_Users[a].Email
                });
                arr_Selected_CC_Email.push(arr_All_Users[a].Email);
            }
        }
    }

    //set supervisor information
    var int_supervisor_Id = 0;
    var str_Department = new String();
    for (let a = 0; a < arr_Department.length; a++) {
        if (arr_Department[a].UserId != null) {
            var arr_User = arr_Department[a].UserId.results;
            if (arr_User.includes(userId)) {
                int_supervisor_Id = arr_Department[a].CommitterId;
                str_Department = arr_Department[a].Title;
            }
        }
    }
    for (let a = 0; a < arr_All_Users.length; a++) {
        if (int_supervisor_Id == arr_All_Users[a].Id) {
            $("#supervisor_name").text(arr_All_Users[a].Title);
            $("#supervisor_email").text(arr_All_Users[a].Email);
            $("#supervisor_department").text(str_Department);
        }
    }

    //set submitter infomation
    $("#submitter_name").text(arr_Current_User_Properties.DisplayName);
    $("#submitter_email").text(arr_Current_User_Properties.Email);
    $("#submitter_position").text(arr_Current_User_Properties.Title);

    //draw team and cc user list
    var html = new Array();
    for (let a = 0; a < arr_All_Users.length; a++) {
        html.push("<tr>");
        html.push("<td><input type='checkbox' user_name='" + arr_All_Users[a].Title + "' value='" + arr_All_Users[a]
            .Email + "'></td>");
        html.push("<td>" + arr_All_Users[a].Title + "</td>");
        html.push("</tr>");
    }
    $("#tbl_Team tbody").append(html.join(''));
    $("#tbl_CC tbody").append(html.join(''));
    $("#tbl_Team").DataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
        "paging": false,
        "info": false
    });
    $("#tbl_Team_filter").addClass("pull_left");
    $("#tbl_CC").DataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
        "paging": false,
        "info": false
    });
    $("#tbl_CC_filter").addClass("pull_left");

    $(".submitter_team_cc #tbl_Team input[type='checkbox']").each(function () {
        $(this)[0].checked = false;
        for (let a = 0; a < arr_Selected_Team.length; a++) {
            var user_email = arr_Selected_Team[a].email;
            if ($(this)[0].value == user_email) {
                $(this)[0].checked = true;
            }
        }
    });
    create_team_selected_ele(arr_Selected_Team);

    $(".submitter_team_cc #tbl_CC input[type='checkbox']").each(function () {
        $(this)[0].checked = false;
        for (let a = 0; a < arr_Selected_CC.length; a++) {
            var user_email = arr_Selected_CC[a].email;
            if ($(this)[0].value == user_email) {
                $(this)[0].checked = true;
            }
        }
    });
    create_cc_selected_ele(arr_Selected_CC);

    $("#tbl_Team_filter input").keyup(function () {
        $(".submitter_team_cc #tbl_Team input[type='checkbox']").each(function () {
            $(this)[0].checked = false;
            for (let a = 0; a < arr_Selected_Team.length; a++) {
                var user_email = arr_Selected_Team[a].email;
                if ($(this)[0].value == user_email) {
                    $(this)[0].checked = true;
                }
            }
        });
    });

    $("#tbl_CC_filter input").keyup(function () {
        $(".submitter_team_cc #tbl_CC input[type='checkbox']").each(function () {
            $(this)[0].checked = false;
            for (let a = 0; a < arr_Selected_CC.length; a++) {
                var user_email = arr_Selected_CC[a].email;
                if ($(this)[0].value == user_email) {
                    $(this)[0].checked = true;
                }
            }
        });
    });

    $(".submitter_team_cc #tbl_Team input[type='checkbox']").change(function () {
        if ($(this)[0].checked) {
            arr_Selected_Team.push({
                "name": $(this).attr("user_name"),
                "email": $(this)[0].value
            });
        } else {
            var index = arr_Selected_Team.findIndex(item => item.name == $(this).attr("user_name"));
            arr_Selected_Team.splice(index, 1);
        }
        arr_Selected_Team.sort();
        create_team_selected_ele(arr_Selected_Team);
    });

    function create_team_selected_ele(arr_Selected_Team) {
        arr_Selected_Team_Email = new Array();
        $(".submitter_team_cc .selected_team").empty();
        var html_team_selected = new Array();
        for (let a = 0; a < arr_Selected_Team.length; a++) {
            html_team_selected.push("<div class='clearfix team_selected_line'>");
            html_team_selected.push("<p class='team_selected'>" + arr_Selected_Team[a].name + "</p>");
            html_team_selected.push("<p class='team_selected_remove' email='" + arr_Selected_Team[a].email + "'>X</p>");
            html_team_selected.push("</div>");
            arr_Selected_Team_Email.push(arr_Selected_Team[a].email);
        }
        arr_Selected_Team_Email.sort();
        $(".submitter_team_cc .selected_team").append(html_team_selected.join(''));
        $(".submitter_team_cc .team_selected_line .team_selected_remove").click(function () {
            var remove_email = $(this).attr("email");
            var index = arr_Selected_Team.findIndex(item => item.email == remove_email);
            arr_Selected_Team.splice(index, 1);
            create_team_selected_ele(arr_Selected_Team);
            $(".submitter_team_cc #tbl_Team input[type='checkbox']").each(function () {
                if ($(this)[0].value == remove_email) {
                    $(this)[0].checked = false;
                }
            });
        });
    }

    $(".submitter_team_cc #tbl_CC input[type='checkbox']").change(function () {
        if ($(this)[0].checked) {
            arr_Selected_CC.push({
                "name": $(this).attr("user_name"),
                "email": $(this)[0].value
            });
        } else {
            var index = arr_Selected_CC.findIndex(item => item.name == $(this).attr("user_name"));
            arr_Selected_CC.splice(index, 1);
        }
        arr_Selected_CC.sort();
        create_cc_selected_ele(arr_Selected_CC);
    });

    function create_cc_selected_ele(arr_Selected_CC) {
        arr_Selected_CC_Email = new Array();
        $(".submitter_team_cc .selected_cc").empty();
        var html_cc_selected = new Array();
        for (let a = 0; a < arr_Selected_CC.length; a++) {
            html_cc_selected.push("<div class='clearfix cc_selected_line'>");
            html_cc_selected.push("<p class='cc_selected'>" + arr_Selected_CC[a].name + "</p>");
            html_cc_selected.push("<p class='cc_selected_remove' email='" + arr_Selected_CC[a].email + "'>X</p>");
            html_cc_selected.push("</div>");
            arr_Selected_CC_Email.push(arr_Selected_CC[a].email);
        }
        arr_Selected_CC_Email.sort();
        $(".submitter_team_cc .selected_cc").append(html_cc_selected.join(''));
        $(".submitter_team_cc .cc_selected_line .cc_selected_remove").click(function () {
            var remove_email = $(this).attr("email");
            var index = arr_Selected_CC.findIndex(item => item.email == remove_email);
            arr_Selected_CC.splice(index, 1);
            create_cc_selected_ele(arr_Selected_CC);
            $(".submitter_team_cc #tbl_CC input[type='checkbox']").each(function () {
                if ($(this)[0].value == remove_email) {
                    $(this)[0].checked = false;
                }
            });
        });
    }
</script>