<style>
    .submitter_note>.row {
        border: 2px solid black;
        border-top: none;
    }

    .submitter_note p {
        margin: 0;
        padding: 0;
    }

    .submitter_note .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .submitter_note>.row>div {
        border-right: 2px solid black;
    }

    .submitter_note>.row>div:last-child {
        border-right: none;
    }

    .submitter_note #submitter_comment {
        width: 100%;
        resize: none;
        background-color: white;
        height: 80px;
    }
</style>

<div class="row">
    <p class="title">Submitter Note</p>
</div>
<div class="row">
    <textarea readonly id="submitter_comment"></textarea>
</div>

<script>
    if (arr_Submit.kaizen_submitter_comment != null) {
        $("#submitter_comment").val(arr_Submit.kaizen_submitter_comment);
    }
</script>