<style>
    .button_group {
        padding-top: 20px;
    }

    .button_group #btn_back {
        background-color: white;
        font-weight: bold;
    }
</style>

<div class="row text-center">
    <div class="col-md-2 offset-md-5">
        <input class="col-12" type="button" value="Back" id="btn_back">
    </div>
</div>

<script>
    $("#btn_back").click(function () {
        window.location.href = url_site;
    });
</script>