<style>
    .submitter_team_cc>.row {
        border: 2px solid black;
        border-top: none;
    }

    .submitter_team_cc p {
        margin: 0;
        padding: 0;
    }

    .submitter_team_cc .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .submitter_team_cc>.row>div {
        border-right: 2px solid black;
    }

    .submitter_team_cc>.row>div:last-child {
        border-right: none;
    }

    .submitter_team_cc .supervisor_line{
        height: 45px;
    }

    .submitter_team_cc .supervisor_line p{
        margin-top: 8px;
    }

    .submitter_team_cc .users_preview {
        display: block;
        height: 100px;
        overflow-y: scroll;
    }

    .submitter_team_cc .users_preview div p{
        padding-left: 20px;
    }

    #tbl_Team_wrapper {
        width: 100%;
    }

    .dataTables_scrollBody {
        width: 100% !important;
    }

    #tbl_CC_wrapper {
        width: 100%;
    }

    .pull_left {
        float: left !important;
    }
</style>

<div class="row">
    <p class="title">Supervisor</p>
</div>
<div class="row text-center supervisor_line">
    <div class="col-4">
        <p id="supervisor_name">name</p>
    </div>
    <div class="col-4">
        <p id="supervisor_email">email</p>
    </div>
    <div class="col-4">
        <p id="supervisor_department">department</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Submitter</p>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Name</p>
            </div>
            <div class="col-8">
                <p id="submitter_name">name</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Email</p>
            </div>
            <div class="col-8">
                <p id="submitter_email">email</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Position</p>
            </div>
            <div class="col-8">
                <p id="submitter_position">position</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Team</p>
        </div>
        <div class="row team_users users_preview">

        </div>
    </div>
    <div class="col-4">
        <div class="row text-center">
            <p class="title">CC</p>
        </div>
        <div class="row cc_users users_preview">

        </div>
    </div>
</div>

<script>
    //set supervisor information
    var int_supervisor_Id = 0;
    var str_Department = new String();
    for (let a = 0; a < arr_Department.length; a++) {
        if (arr_Department[a].UserId != null) {
            var arr_User = arr_Department[a].UserId.results;
            if (arr_User.includes(userId)) {
                int_supervisor_Id = arr_Department[a].CommitterId;
                str_Department = arr_Department[a].Title;
            }
        }
    }
    for (let a = 0; a < arr_All_Users.length; a++) {
        if (int_supervisor_Id == arr_All_Users[a].Id) {
            $("#supervisor_name").text(arr_All_Users[a].Title);
            $("#supervisor_email").text(arr_All_Users[a].Email);
            $("#supervisor_department").text(str_Department);
        }
    }

    //set submitter infomation
    $("#submitter_name").text(arr_Current_User_Properties.DisplayName);
    $("#submitter_email").text(arr_Current_User_Properties.Email);
    $("#submitter_position").text(arr_Current_User_Properties.Title);

    //set team
    if (arr_Submit.kaizen_teamId != null) {
        var arr_Users_Id = arr_Submit.kaizen_teamId.results;
        var html = new Array();
        for (let a = 0; a < arr_Users_Id.length; a++) {
            var str_User_Name = new String();
            for (let b = 0; b < arr_All_Users.length; b++) {
                if (arr_Users_Id[a] == arr_All_Users[b].Id) {
                    str_User_Name = arr_All_Users[b].Title;
                }
            }
            html.push("<div>");
            html.push("<p>" + str_User_Name + "</p>");
            html.push("</div>");
        }
        $(".submitter_team_cc .team_users").append(html.join(""));
    }

    //set cc
    if (arr_Submit.kaizen_ccId != null) {
        var arr_Users_Id = arr_Submit.kaizen_ccId.results;
        var html = new Array();
        for (let a = 0; a < arr_Users_Id.length; a++) {
            var str_User_Name = new String();
            for (let b = 0; b < arr_All_Users.length; b++) {
                if (arr_Users_Id[a] == arr_All_Users[b].Id) {
                    str_User_Name = arr_All_Users[b].Title;
                }
            }
            html.push("<div>");
            html.push("<p>" + str_User_Name + "</p>");
            html.push("</div>");
        }
        $(".submitter_team_cc .cc_users").append(html.join(""));
    }
</script>