<style>
    .condition_solution>.row {
        border: 2px solid black;
        border-top: none;
    }

    .condition_solution p {
        margin: 0;
        padding: 0;
    }

    .condition_solution .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .condition_solution .title.condition_solution_title {
        height: 52px;
    }

    .condition_solution>.row>div {
        border-right: 2px solid black;
    }

    .condition_solution>.row>div:last-child {
        border-right: none;
    }

    .condition_solution_field {
        width: 100%;
        height: 200px;
        resize: none;
        background-color: white;
        overflow-y: scroll;
    }
</style>

<div class="row">
    <div class="col-6">
        <div class="row text-center">
            <p class="title condition_solution_title">Initial Condition (What was the problem?)</p>
        </div>
        <div class="row">
            <textarea readonly id="condition" class="condition_solution_field" value=""></textarea>
        </div>
    </div>
    <div class="col-6">
        <div class="row text-center">
            <p class="title condition_solution_title">Solution Description (What was implemented, changed or improved?)
            </p>
        </div>
        <div class="row">
            <textarea readonly id="solution" class="condition_solution_field" value=""></textarea>
        </div>
    </div>
</div>

<script>
    //set condition value
    if (arr_Submit.kaizen_condition != null) {
        $("#condition").text(arr_Submit.kaizen_condition);
    }

    //set solution value
    if (arr_Submit.kaizen_condition != null) {
        $("#solution").text(arr_Submit.kaizen_solution);
    }
</script>