<style>
    .top_header_section {
        background-color: gray;
        padding: 10px 0;
        border: 2px solid black;
        border-bottom: none;
    }

    .top_header_section p {
        margin: 0;
        padding: 0;
    }

    .top_header_section .logo img {
        width: 100%;
    }

    .top_header_section .title p {
        color: white;
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
    }

    .top_header_section .iso .iso_checkbox {
        margin-right: 5px;
    }

    .top_header_section .iso .iso_description {
        display: none;
        position: absolute;
        margin-left: 100px;
        background-color: gray;
        border: 1px solid black;
        padding: 10px;
        width: 200px;
        z-index: 2;
    }

    .top_header_section .iso .iso_line {
        color: white;
        margin: 8px 0;
    }

    .top_header_section .iso .iso_line img {
        width: 100%;
        height: 100%;
        padding: 5px;
    }

    .top_header_section .iso .iso_9001:hover .iso_description {
        display: block;
    }

    .top_header_section .iso .iso_14001:hover .iso_description {
        display: block;
    }

    .top_header_section .bold {
        font-weight: bold;
    }
</style>

<div class="row top_header_section">
    <div class="col-2 logo">
        <img
            src="http://portal.framas.com/WebpartFiles/Table_Responsive_v1/Table_Responsive_v1/images/png/framas_logo.png">
    </div>
    <div class="col-8 title">
        <p>Kaizen Submit</p>
    </div>
    <div class="col-2 iso">
        <div class="row iso_9001 iso_line">
            <p class="col-8"><input disabled type="checkbox" class="iso_checkbox" checked value="9001">ISO 9001</p>
            <img class="col-2" src="http://portal.framas.com/sites/kaizen/SiteAssets/images/question_icon.png">
            <p class="iso_description">
                ISO 9001 is defined as the international standard that specifies requirements for a <span
                    class='bold'>quality management system (QMS)</span>. Organizations use the standard to demonstrate
                the ability to consistently provide products and services that meet customer and regulatory
                requirements.
            </p>
        </div>
        <div class="row iso_14001 iso_line">
            <p class="col-8"><input disabled type="checkbox" class="iso_checkbox" checked value="14001">ISO 14001</p>
            <img class="col-2" src="http://portal.framas.com/sites/kaizen/SiteAssets/images/question_icon.png">
            <p class="iso_description">
                ISO 14001 is the international standard that specifies requirements for an effective <span
                    class='bold'>environmental management system (EMS)</span>. It provides a framework that an
                organization can follow, rather than establishing environmental performance requirements.
            </p>
        </div>
    </div>
</div>