<style>
    .image_attachment>.row {
        border: 2px solid black;
        border-top: none;
    }

    .image_attachment p {
        margin: 0;
        padding: 0;
    }

    .image_attachment .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .image_attachment>.row>div {
        border-right: 2px solid black;
    }

    .image_attachment>.row>div:last-child {
        border-right: none;
    }

    .image_attachment .image_preview {
        height: 450px;
        overflow-y: scroll;
    }

    .image_attachment .image_preview img {
        width: 100%;
    }

    .image_attachment .image_preview #preview_image_before_rotaion {
        position: absolute;
        z-index: 2;
        background-color: white;
    }

    .image_attachment .image_preview #preview_image_after_rotaion {
        position: absolute;
        z-index: 2;
        background-color: white;
    }

    .image_attachment .attacment_preview {
        height: 100px;
        overflow-y: scroll;
    }

    .image_attachment .attacment_preview a {
        float: left;
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-6">
        <div class="row text-center">
            <p class="title">Before</p>
        </div>
        <div class="row image_preview" id="preview_image_before">

        </div>
    </div>
    <div class="col-6">
        <div class="row text-center">
            <p class="title">After</p>
        </div>
        <div class="row image_preview" id="preview_image_after">

        </div>
    </div>
</div>
<div class="row">
    <p class="title">Attachment (Multiple Select)</p>
</div>
<div class="row attacment_preview">

</div>

<script>
    //set variables 
    var int_rotate_before = 0;
    var int_rotate_after = 0;

    //set image before and after
    for (let a = 0; a < arr_Images.length; a++) {
        var str_Element_Id = new String();
        if (arr_Images[a].Before_After == "Before") {
            str_Element_Id = "image_before";
            int_Previous_Before_Image_Id = arr_Images[a].Id;
        } else {
            str_Element_Id = "image_after";
            int_Previous_After_Image_Id = arr_Images[a].Id;
        }
        var url_Image = "http://portal.framas.com" + arr_Images[a].File.ServerRelativeUrl;
        var html = new Array();
        html.push("<input type='button' value='Rotation' id='preview_" + str_Element_Id + "_rotaion'>");
        html.push("<img id='" + str_Element_Id + "' src='" + url_Image + "'>");
        $("#preview_" + str_Element_Id).append(html.join(''));
        //set event on rotate button
    }

    $("#preview_image_before_rotaion").click(function () {
        int_rotate_before += 90;
        $("#image_before").css({
            "-webkit-transform": "rotate(" + int_rotate_before + "deg)",
            "-moz-transform": "rotate(" + int_rotate_before + "deg)",
            "transform": "rotate(" + int_rotate_before + "deg)" /* For modern browsers(CSS3)  */
        });
    });
    $("#preview_image_after_rotaion").click(function () {
        int_rotate_after += 90;
        $("#image_after").css({
            "-webkit-transform": "rotate(" + int_rotate_after + "deg)",
            "-moz-transform": "rotate(" + int_rotate_after + "deg)",
            "transform": "rotate(" + int_rotate_after + "deg)" /* For modern browsers(CSS3)  */
        });
    });

    //set attachments
    var html = new Array();
    html.push("<div>");
    for (let a = 0; a < arr_Attachments.length; a++) {
        if (arr_Attachments[a].File != null) {
            html.push("<a href='http://portal.framas.com" + arr_Attachments[a].File.ServerRelativeUrl + "'>" + arr_Attachments[a].File.Name + "</a>");
        }
    }
    html.push("</div>");
    $(".attacment_preview").append(html.join(''));
</script>