<style>
    .input_field_section>.row {
        border: 2px solid black;
        border-top: none;
    }

    .input_field_section p {
        margin: 0;
        padding: 0;
    }

    .input_field_section .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .input_field_section .field_content{
        height: 45px;
        border-right: 2px solid black;
    }

    .input_field_section .field_content.none_border_right{
        border-right: none;
    }

    .input_field_section .field_content.kaizen_version_content{
        height: 70px;
    }

    .input_field_section .field {
        width: 100%;
        text-align: center;
        height: 26px;
        background-color: white;
        margin-top: 8px;
    }

    .input_field_section .other_field {
        height: 26px;
        border-right: 2px solid black;
    }

    .input_field_section .other_field input,
    .input_field_section .other_field select {
        display: none;
    }

    .input_field_section .row>div:last-child .other_field {
        border-right: none;
    }

    #kaizen_type_other {
        float: left;
        width: 50%;
    }

    #kaizen_unit {
        float: left;
        width: 50%;
    }
</style>

<div class="row">
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Title/Subject</p>
        </div>
        <div class="row field_content">
            <p class="field" id="kaizen_title">title</p>
        </div>
    </div>
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Location</p>
        </div>
        <div class="row field_content">
            <p class="field" id="kaizen_location">location</p>
        </div>
    </div>
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Time</p>
        </div>
        <div class="row field_content none_border_right">
            <p class="field" id="kaizen_date">date</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <div class="row text-center">
            <p class="title">Kaizen Code</p>
        </div>
        <div class="row field_content kaizen_version_content">
            <p class="field" id="kaizen_code">kaizen code</p>
        </div>
    </div>
    <div class="col-2">
        <div class="row text-center">
            <p class="title">Version</p>
        </div>
        <div class="row field_content none_border_right kaizen_version_content">
            <p class="field" id="kaizen_version">version</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Outcome</p>
        </div>
        <div class="row field_content">
            <p class="field" id="kaizen_outCome">outcome</p>
        </div>
    </div>
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Type of Kaizen</p>
        </div>
        <div class="row field_content">
            <p class="field" id="kaizen_type">type</p>
        </div>
    </div>
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Implementation Department</p>
        </div>
        <div class="row field_content none_border_right">
            <p class="field" id="kaizen_impleDepartment">implementation department</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Area</p>
        </div>
        <div class="row field_content">
            <p class="field" id="kaizen_area">area</p>
        </div>
    </div>
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Machine/Equipment/Tools</p>
        </div>
        <div class="row field_content">
            <p class="field" id="kaizen_equipment">equipment</p>
        </div>
    </div>
    <div class="col-4">
        <div class="row text-center">
            <p class="title">Part/Workpiece/Process</p>
        </div>
        <div class="row field_content none_border_right">
            <p class="field" id="kaizen_workpiece">workpiece</p>
        </div>
    </div>
</div>

<script>
    //set fields value
    //set title
    $("#kaizen_title").text(arr_Submit.Title);

    //set location
    var str_Location_Value = get_Field_Value(arr_Submit.kaizen_locationId, arr_Location, "");
    $("#kaizen_location").text(str_Location_Value);

    //set date
    var date_Created = new Date(arr_Submit.Created);
    var int_Created_Month = date_Created.getMonth() + 1;
    var int_Created_Year = date_Created.getFullYear();
    var current_date_time = date_Created.getDate() + "/" + (date_Created.getMonth() + 1) + "/" + date_Created.getFullYear() + " " + date_Created.getHours() + ":" + date_Created.getMinutes();
    $("#kaizen_date").text(current_date_time);

    //set kaizen code
    $("#kaizen_code").text(arr_Submit.kaizen_code);

    //set version
    $("#kaizen_version").text(arr_Submit.kaizen_version);

    //set outcome
    var str_Outcome_Value = get_Field_Value(arr_Submit.kaizen_outComeId, arr_Outcome, arr_Submit.other_outcome);
    $("#kaizen_outCome").text(str_Outcome_Value);

    //set type
    var str_Type_Value = get_Field_Type(arr_Submit.kaizen_typeId);
    $("#kaizen_type").text(str_Type_Value);

    //set implementation department
    var str_Imple_Department_Value = get_Field_Value(arr_Submit.kaizen_ImpleDepartmentId, arr_Imple_Department, arr_Submit.other_impleDepartment);
    $("#kaizen_impleDepartment").text(str_Imple_Department_Value);

    //set area
    var str_Area_Value = get_Field_Value(arr_Submit.kaizen_areId, arr_Area, arr_Submit.other_area);
    $("#kaizen_area").text(str_Area_Value);

    //set equipment
    var str_Equipment_Value = get_Field_Value(arr_Submit.kaizen_equipmentId, arr_Equipment, arr_Submit.other_equipment);
    $("#kaizen_equipment").text(str_Equipment_Value);

    //set workpiece
    var str_Workpiece_Value = get_Field_Value(arr_Submit.kaizen_workpieceId, arr_Workpiece, arr_Submit.other_workpiece);
    $("#kaizen_workpiece").text(str_Workpiece_Value);

    function get_Field_Value(str_Kaizen_Field_Id, arr_Field_Values, str_Kaizen_Other_Field_Value) {
        var str_Result_Value = new String();
        for (let a = 0; a < arr_Field_Values.length; a++) {
            if (str_Kaizen_Field_Id == arr_Field_Values[a].Id) {
                str_Result_Value = arr_Field_Values[a].Title;
            }
        }
        if (str_Result_Value == "Other") {
            str_Result_Value = str_Kaizen_Other_Field_Value;
        }
        return str_Result_Value;
    }

    function get_Field_Type(str_Kaizen_Field_Id) {
        var str_Result_Value = new String();
        for (let a = 0; a < arr_Type.length; a++) {
            if (str_Kaizen_Field_Id == arr_Type[a].Id) {
                str_Result_Value = arr_Type[a].Title;
            }
        }
        if (str_Result_Value == "Cost Saving" || str_Result_Value == "Labor Hour Saving" || str_Result_Value == "Machine Hour Saving" || str_Result_Value == "Space Saving" || str_Result_Value == "Quality Improvement") {
            str_Result_Value = "Saving " + arr_Submit.kaizen_costSaving + " " + arr_Submit.kaizen_unit + ' per Year';
        }
        return str_Result_Value;
    }
</script>