<style>
    .approvals>.row {
        border: 2px solid black;
        border-top: none;
    }

    .approvals p,
    .approvals .tbl_approvals div {
        margin: 0;
        padding: 0;
    }

    .approvals .title {
        width: 100%;
        text-align: center;
        background-color: #4d4d4d;
        color: white;
    }

    .approvals>.row>div {
        border-right: 2px solid black;
    }

    .approvals>.row>div:last-child {
        border-right: none;
    }

    .approvals .step_title {
        width: 100%;
        text-align: center;
        background-color: lightgray;
        color: black;
    }

    .approvals .tbl_approvals .tbl_header p {
        height: 34px;
        font-weight: bold;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        padding: 0px 10px;
    }

    .approvals .tbl_approvals .tbl_header p:last-child {
        border-right: none;
    }

    .approvals .tbl_approvals .tbl_header {
        overflow-y: scroll;
    }

    .approvals .tbl_approvals .tbl_content {
        max-height: 300px;
        overflow-y: scroll;
    }

    .approvals .tbl_approvals .tbl_content.committer_tbl_content {
        max-height: 300px;
    }

    .approvals .tbl_approvals .tbl_content p {
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }

    .approvals .tbl_approvals .tbl_content textarea {
        resize: none;
        max-height: 80px;
        background-color: white;
        border: none;
        border-bottom: 2px solid black;
    }

    .tbl_approvals .tbl_content .team_line .yellow {
        background-color: rgb(255, 255, 105);
    }

    .tbl_approvals .tbl_content .team_line .green {
        background-color: rgb(37, 255, 37);
    }

    .tbl_approvals .tbl_content .team_line .red {
        background-color: rgb(255, 82, 82);
    }

    .approvals .tbl_approvals #tbl_conclusion_approvals textarea {
        border-right: 2px solid black;
        border-right: none;
    }

    .approvals .empty_committer {
        border-right: none !important;
        padding: 0 !important;
        text-align: center;
        display: block !important;
    }

    .approvals #tbl_conclusion_approvals .kaizen_conclusion_value {
        background-color: #fcf803;
        font-size: 24px;
        font-weight: bold;
    }

    .approvals #remark_description {
        background-color: white;
        width: 100%;
        resize: none;
    }
</style>
<div class="row">
    <p class="title">Approvals</p>
</div>
<div class="row">
    <p class="step_title">Approval Step 1 (Team Approvals)</p>
</div>
<div class="row tbl_approvals">
    <div id="tbl_team_approvals" class="col-12">
        <div class="row tbl_header col-12">
            <p class="col-2">Name</p>
            <p class="col-3">Email</p>
            <p class="col-2">Approval</p>
            <p class="col-5">Comment</p>
        </div>
        <div class="tbl_content">

        </div>
    </div>
</div>
<div class="row">
    <p class="step_title">Approval Step 2 (Supervisor Approvals)</p>
</div>
<div class="row tbl_approvals">
    <div id="tbl_supervisor_approvals" class="col-12">
        <div class="row tbl_header col-12">
            <p class="col-2">Name</p>
            <p class="col-3">Email</p>
            <p class="col-2">Approval</p>
            <p class="col-5">Comment</p>
        </div>
        <div class="tbl_content">

        </div>
    </div>
</div>
<div class="row">
    <p class="step_title">Approval Step 3 (Committer Approvals)</p>
</div>
<div class="row tbl_approvals">
    <div id="tbl_committer_approvals" class="col-12">
        <div class="row tbl_header col-12">
            <p class="col-2">Name</p>
            <p class="col-3">Email</p>
            <p class="col-2">Approval</p>
            <p class="col-5">Comment</p>
        </div>
        <div class="tbl_content committer_tbl_content">
            <p class="empty_committer">Empty Committer</p>
        </div>
    </div>
</div>
<div class="row">
    <p class="step_title">Approval Step 4 (Conclusion Approvals)</p>
</div>
<div class="row tbl_approvals">
    <div id="tbl_conclusion_approvals" class="col-12">
        <div class="row tbl_header col-12">
            <p class="col-2 kaizen_conclusion">Remark</p>
            <p class="col-3">Follow Saving</p>
            <p class="col-2">Approval</p>
            <p class="col-5">Comment</p>
        </div>
        <div class="tbl_content">

        </div>
    </div>
</div>
<div class="row">
    <p class="step_title">Remark Description</p>
</div>
<div class="row remark_description_Wrapper">
    <div class="col-3">
        <p class="col-12">5</p>
        <div class="description">
            <p>&lt 25% of the original frequently happended</p>
            <p>Limitted range of improvement at items or processes</p>
            <p>&lt 200 $; &lt 200 HOUR</p>
        </div>
    </div>
    <div class="col-3">
        <p class="col-12">10</p>
        <div class="description">
            <p>25% &lt Original &lt 50%</p>
            <p>Fairly significant, related to another items or processes</p>
            <p>&lt 200 $ &lt $ &lt 500 $</p>
            <p>&lt 200 HOUR &lt SAVING &lt 500 HOUR</p>
        </div>
    </div>
    <div class="col-3">
        <p class="col-12">20</p>
        <div class="description">
            <p>50% &lt Original &lt 100%</p>
            <p>Fairly significant, related to another items or processes</p>
            <p>&lt 500 $ &lt $ &lt 1000 $</p>
            <p>&lt 500 HOUR &lt SAVING &lt 1000 HOUR</p>
        </div>
    </div>
    <div class="col-3">
        <p class="col-12">50</p>
        <div class="description">
            <p>Problem are completely solved</p>
            <p>Has wide range of applicability, can be a standard</p>
            <p>> 1000 $</p>
            <p>> 1000 HOUR</p>
        </div>
    </div>
</div>

<script>
    //set team approvals
    var html_Team = new Array();
    for (let a = 0; a < arr_Approvals.length; a++) {
        if (arr_Approvals[a].Team_x002f_Committer == "Team") {
            var int_Approver_Id = arr_Approvals[a].ApproverId;
            var str_Approver_Name = new String();
            var str_Approver_Email = new String();
            var str_Team_Approved = new String();
            var str_Approver_Comment = new String();
            //get approval status
            if (arr_Approvals[a].Approval != null) {
                str_Team_Approved = arr_Approvals[a].Approval;
            } else {
                str_Team_Approved = "Pending";
            }
            //get approval comment
            if (arr_Approvals[a].Comment != null) {
                str_Approver_Comment = arr_Approvals[a].Comment;
            }
            //get approval user name and email
            for (let b = 0; b < arr_All_Users.length; b++) {
                if (int_Approver_Id == arr_All_Users[b].Id) {
                    str_Approver_Name = arr_All_Users[b].Title;
                    str_Approver_Email = arr_All_Users[b].Email;
                }
            }
            //set status color
            var status_Class = new String();
            if (str_Team_Approved == "Pending") {
                status_Class = "yellow";
            } else if (str_Team_Approved == "Approved") {
                status_Class = "green";
            } else {
                status_Class = "red";
            }
            html_Team.push("<div class='row team_line'>");
            html_Team.push("<p class='col-2'>" + str_Approver_Name + "</p>");
            html_Team.push("<p class='col-3'>" + str_Approver_Email + "</p>");
            html_Team.push("<p class='col-2 " + status_Class + "'>" + str_Team_Approved + "</p>");
            html_Team.push("<textarea readonly class='col-5'>" + str_Approver_Comment + "</textarea>");
            html_Team.push("</div>");
        }
    }
    $("#tbl_team_approvals .tbl_content").append(html_Team.join(""));

    //set Supervisor approvals
    var int_Supervisor_Id = arr_Submit.kaizen_supervisorId;
    var str_Supervisor_Name = new String();
    var str_Supervisor_Email = new String();
    var str_Supervisor_Approval = new String();
    var str_Supervisor_Comment = new String();

    //get approval
    if (arr_Submit.kaizen_supervisor_approval != null) {
        str_Supervisor_Approval = arr_Submit.kaizen_supervisor_approval;
    }
    else {
        str_Supervisor_Approval = "Pending";
    }
    //get approval comment
    if (arr_Submit.kaizen_supervisor_comment != null) {
        str_Supervisor_Comment = arr_Submit.kaizen_supervisor_comment;
    }
    //get approval user name and email
    for (let b = 0; b < arr_All_Users.length; b++) {
        if (int_Supervisor_Id == arr_All_Users[b].Id) {
            str_Supervisor_Name = arr_All_Users[b].Title;
            str_Supervisor_Email = arr_All_Users[b].Email;
        }
    }
    //set status color
    var status_Class = new String();
    if (str_Supervisor_Approval == "Pending") {
        status_Class = "yellow";
    } else if (str_Supervisor_Approval == "Approved") {
        status_Class = "green";
    } else {
        status_Class = "red";
    }
    var html_Supervisor = new Array();
    html_Supervisor.push("<div class='row team_line'>");
    html_Supervisor.push("<p class='col-2'>" + str_Supervisor_Name + "</p>");
    html_Supervisor.push("<p class='col-3'>" + str_Supervisor_Email + "</p>");
    html_Supervisor.push("<p class='col-2 " + status_Class + "'>" + str_Supervisor_Approval + "</p>");
    html_Supervisor.push("<textarea readonly class='col-5'>" + str_Supervisor_Comment + "</textarea>");
    html_Supervisor.push("</div>");
    $("#tbl_supervisor_approvals .tbl_content").append(html_Supervisor.join(""));

    //set committer approvals
    var html_Committer = new Array();
    for (let a = 0; a < arr_Approvals.length; a++) {
        if (arr_Approvals[a].Team_x002f_Committer == "Committer") {
            $("#tbl_committer_approvals .tbl_content .empty_committer").remove();
            var int_Approver_Id = arr_Approvals[a].ApproverId;
            var str_Approver_Name = new String();
            var str_Approver_Email = new String();
            var str_Team_Approved = new String();
            var str_Approver_Comment = new String();
            //get approval status
            if (arr_Approvals[a].Approval != null) {
                str_Team_Approved = arr_Approvals[a].Approval;
            } else {
                str_Team_Approved = "Pending";
            }
            //get approval comment
            if (arr_Approvals[a].Comment != null) {
                str_Approver_Comment = arr_Approvals[a].Comment;
            }
            //get approval user name and email
            for (let b = 0; b < arr_All_Users.length; b++) {
                if (int_Approver_Id == arr_All_Users[b].Id) {
                    str_Approver_Name = arr_All_Users[b].Title;
                    str_Approver_Email = arr_All_Users[b].Email;
                }
            }
            //set status color
            var status_Class = new String();
            if (str_Team_Approved == "Pending") {
                status_Class = "yellow";
            } else if (str_Team_Approved == "Approved") {
                status_Class = "green";
            } else {
                status_Class = "red";
            }
            html_Committer.push("<div class='row team_line'>");
            html_Committer.push("<p class='col-2'>" + str_Approver_Name + "</p>");
            html_Committer.push("<p class='col-3'>" + str_Approver_Email + "</p>");
            html_Committer.push("<p class='col-2 " + status_Class + "'>" + str_Team_Approved + "</p>");
            html_Committer.push("<textarea readonly class='col-5'>" + str_Approver_Comment + "</textarea>");
            html_Committer.push("</div>");
        }
    }
    $("#tbl_committer_approvals .tbl_content").append(html_Committer.join(""));

    //set conclusion approvals
    var str_Conclusion_Approval = new String();
    var str_Conclusion_Comment = new String();
    var int_Remark = arr_Submit.Remark;

    //get approval
    if (arr_Submit.kaizen_conclusionStatus != null) {
        str_Conclusion_Approval = arr_Submit.kaizen_conclusionStatus;
    }
    else {
        str_Conclusion_Approval = "Pending";
    }
    //get approval comment
    if (arr_Submit.kaizen_conclusionComment != null) {
        str_Conclusion_Comment = arr_Submit.kaizen_conclusionComment;
    }
    //set status color
    var status_Class = new String();
    if (str_Conclusion_Approval == "Pending") {
        status_Class = "yellow";
    } else if (str_Conclusion_Approval == "Approved") {
        status_Class = "green";
    } else {
        status_Class = "red";
    }
    var arr_Follow_Saving = get_List_Information(url_site + "/_api/web/lists/getbytitle('" + str_listName_follow_saving + "')/items?$filter=Kaizen_Id eq " + int_Kaizen_Id);
    var html_Conclusion = new Array();
    html_Conclusion.push("<div class='row team_line'>");
    if (arr_Submit.kaizen_status != "Finish" && parseInt(arr_Submit.Remark) == 0) {
        if (arr_Follow_Saving.length > 0) {
            var int_Follow_Saving_Value = convert_Value_To_Int(arr_Follow_Saving[0].Month_1) + convert_Value_To_Int(arr_Follow_Saving[0].Month_2) + convert_Value_To_Int(arr_Follow_Saving[0].Month_3) + convert_Value_To_Int(arr_Follow_Saving[0].Month_4) + convert_Value_To_Int(arr_Follow_Saving[0].Month_5) + convert_Value_To_Int(arr_Follow_Saving[0].Month_6) + convert_Value_To_Int(arr_Follow_Saving[0].Month_7) + convert_Value_To_Int(arr_Follow_Saving[0].Month_8) + convert_Value_To_Int(arr_Follow_Saving[0].Month_9) + convert_Value_To_Int(arr_Follow_Saving[0].Month_10) + convert_Value_To_Int(arr_Follow_Saving[0].Month_11) + convert_Value_To_Int(arr_Follow_Saving[0].Month_12);
            html_Conclusion.push("<p class='col-2 kaizen_conclusion_value'>" + arr_Follow_Saving[0].Remark_Temp + "</p>");
            if (arr_Follow_Saving[0].Status != "Finish") {
                html_Conclusion.push("<p class='col-3'>" + int_Follow_Saving_Value + " " + arr_Follow_Saving[0].Unit + "</p>");
            } else {
                html_Conclusion.push("<p class='col-3'>On Going</p>");
            }
        } else {
            html_Conclusion.push("<p class='col-2 kaizen_conclusion_value'>0</p>");
            html_Conclusion.push("<p class='col-3'>On Going</p>");
        }
    } else {
        html_Conclusion.push("<p class='col-2 kaizen_conclusion_value'>" + arr_Submit.Remark + "</p>");
        html_Conclusion.push("<p class='col-3'>Close</p>");
    }
    html_Conclusion.push("<p class='col-2 " + status_Class + "'>" + str_Conclusion_Approval + "</p>");
    html_Conclusion.push("<textarea readonly class='col-5'>" + str_Conclusion_Comment + "</textarea>");

    html_Conclusion.push("</div>");
    $("#tbl_conclusion_approvals .tbl_content").append(html_Conclusion.join(""));

    function convert_Value_To_Int(str_Value) {
        var int_Value = 0;
        if (str_Value != null && str_Value != '') {
            int_Value = parseInt(str_Value);
        }
        return int_Value;
    }
</script>