<style>
    .export {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 100%;
    }

    .export .btn_export {
        position: fixed;
        margin-left: 10px;
    }
</style>

<button type="button" class="btn_export btn btn-primary">Export PDF</button>
<div id="export_element">

</div>

<script>
    $(".btn_export").click(function () {
        $("#preview_image_before_rotaion").hide();
        $("#preview_image_after_rotaion").hide();
        $(".button_group").hide();
        $(".export").hide();
        kendo.drawing
            .drawDOM("#root_App", null)
            .then(function (group) {
                kendo.drawing.pdf.saveAs(group, "Exported.pdf");
                $("#preview_image_before_rotaion").show();
                $("#preview_image_after_rotaion").show();
                $(".button_group").show();
                $(".export").show();
            });
    });
</script>